[2021-11-08 21:12] rrrkharse opened #14 "Create CFN template for resources required by AWS Cognito"
Enhance user experience

- Creating certs requires us-east-1 resources to be created before the resources for the region
- Cognito configuration requires creating users, app client, etc. and configuring user pool domains etc

The process has several steps and is error prone. CFN might be able to automate this process and reduce user error.

[2021-11-08 22:41] akartsky opened #16 "Can we number the sections so that there is no ambiguity"
In [kubeflow-manifests/examples/aws/cognito-rds-s3/README.md](https://github.com/awslabs/kubeflow-manifests/blob/v1.3-branch/examples/aws/cognito/README.md) can we number the subsections as `4.1` instead of just `1`
so that there is no ambiguity

[2021-11-08 22:45] goswamig commented on #16
Also `upto` means including this step. @surajkota

[2021-11-08 22:48] akartsky opened #17 "[README] At each main section can we have a CD command"
Regarding : https://github.com/awslabs/kubeflow-manifests/blob/v1.3-branch/examples/aws/cognito/README.md

It's is confusing at some of the sections where we should run it from (Eg: Section 4.0). It's better to have a  CD command at the beginning of each section.

[2021-11-09 00:53] rrrkharse opened #18 "ALB Auth doesn't support Cognito - ARN, CDG, GRU, SFO"
This results in the following error message when provisioning an ALB in the alb-ingress-controller logs:
[code]

We need to find a workaround and/or determine if we can support these regions for Cognito on Kubeflow.

[2021-11-09 05:11] surajkota commented on #16
addressed in #19

[2021-11-09 05:11] #16 closed

[2021-11-09 05:11] surajkota commented on #17
addressed in #19

[2021-11-09 05:11] #17 closed

[2021-11-17 21:03] savemuri commented on #18
I am getting similar issue when I am trying to use Cognito with istio-ingress

`E1117 15:26:08.459198       1 controller.go:217] kubebuilder/controller "msg"="Reconciler error" "error"="failed to reconcile listeners due to failed to create listener due to InvalidLoadBalancerAction: User is not authorized to perform 'describeUserPoolClient'\n\tstatus code: 400, request id: 6d1a2cc1-9181-4636-940a-6

[2021-11-19 20:41] rrrkharse opened #21 "Update RDS instructions to use latest mysql version in RDS"
Update and verify the latest RDS version(s) work with RDS and Kubeflow

[2021-11-19 20:42] rrrkharse opened #22 "Decouple RDS and S3 installation"
Provide customers with the flexibility to choose which AWS service(s) they want to integrate with

[2021-11-19 20:44] rrrkharse opened #23 "Add verification procedure for RDS and S3 installation"
Provide some way to test that the installation has succeeded beyond a successful deployment.

[2021-11-19 20:46] rrrkharse opened #24 "Some RDS README improvments"
- RDS setup (keep the default value) for dbname: `kubeflow` in the example configurations
- Add debug tip for TLS error: https://github.com/kubeflow/manifests/issues/1931

[2021-11-23 19:09] surajkota opened #26 "AWS distribution of Kubeflow v1.3"
Feature list:
- [x] Cognito Integration
- [x] RDS integration for pipelines
- [x] RDS integration for Katib
- [x] S3 integration for pipelines
- [x] DLC in Jupyter Notebooks
- [x] Secrets manager integration for credentials
- [x] EFS
- [x] FSx
- [x] e2e testing framework
- [x] #92
- [x] Documentation for telemetry component #114
- [x] Documentation Updates to website (Currently in [distributions/a

[2021-11-23 19:09] surajkota opened #27 "AWS distribution for Kubeflow v1.4"
Feature list:
- [x] Cognito Integration
- [x] RDS integration for pipelines
- [x] RDS integration for Katib
- [x] S3 integration for pipelines
- [ ] EFS
- [ ] FSx

[2021-11-24 18:51] goswamig opened #28 "Use secret manager for AWS credentials required for Minio"
Possible steps:
Install secret manager driver: https://docs.aws.amazon.com/secretsmanager/latest/userguide/integrating_csi_driver.html

@
[code]
@rrrkharse

[2021-11-24 19:02] goswamig opened #29 "KFServing Testing"
We should make sure that KFServing is working well. Check if any of the component of KFServing can we replaced by AWS services from integration POV.

[2021-11-24 19:03] goswamig opened #30 "Katib Testing"
We should make sure that Katib is working well. Check if any of the component of Katib (DB, storage, creds etc.) can we replaced by AWS services from integration POV. We should also point any standard example from official doc which has been tested.

[2021-11-30 20:48] surajkota opened #33 "Notebook server creation fails if PV is not used for workspace"
### Description of issue
Succeeds with scipy image and KF default pytorch images but fails on DLC based images

Logs
[code]

### Steps to reproduce:
Create a notebook with AWS images for notebook and check the option  `Don't use Persistent Storage for User's home` under workspace volume

[2021-12-06 21:59] goswamig opened #36 "[Component Guide] Kubeflow Pipelines"
We will need to test the KFP SDK on notebook.

One specific point where we might need to add details (documentation, instruction or change) is authentication process of pipeline using KFP sdk.

More details below.
https://www.kubeflow.org/docs/distributions/aws/pipeline/#s3-access-from-kubeflow-pipelines

[2021-12-08 16:44] rrrkharse opened #40 "KFP Testing"
We should make sure that KFP is working well. Check if any of the component of KFP (DB, storage, creds etc.) can we replaced by AWS services from integration POV. We should also point any standard example from official doc which has been tested.

[2021-12-10 22:07] goswamig opened #43 "Investigate why controller is mutating IAM policy"
https://github.com/kubeflow/kubeflow/blob/d43aee19ad8b556273a627ad34367e7e56b5c97e/components/profile-controller/controllers/plugin_iam.go#L128-L182

[2021-12-10 22:08] goswamig opened #44 "Remove IAM user usage in Kubeflow and replace that with IAM role"
We want kubeflow to be completely off the usage of static credentials but only using IRSA.
1. figure out the IAM user usage in kubeflow component.
2. Replace them with IAM role using IRSA.

[2021-12-10 22:10] goswamig opened #45 "High availability of Kubeflow"
There are many component of kubeflow which are not highly available.

For e.g. central dashboard has only one replica https://github.com/awslabs/kubeflow-manifests/blob/master/apps/centraldashboard/upstream/base/deployment.yaml#L8

We need to find out all the critical component inside kubeflow and make them highly available.

[2021-12-13 20:12] mbaijal commented on #33
This issue has been fixed on the latest notebook containers.

[2021-12-15 01:43] goswamig opened #48 "Single cloudformation template to deploy kubeflow"
Can we come up with one click CFN template to deploy kubeflow with all supported AWS service integration ?

[2021-12-26 06:11] goswamig opened #59 "Cloudwatch integration with Kubeflow"
**Describe the bug**
Worker node group logging described [here](https://v1-2-branch.kubeflow.org/docs/aws/logging/) can be used for sending pods log to cloud watch. However with the current setup it does not work. For e.g. the permission which we assign to worker node does not have policy to `describe log group` from cloud watch.

**Steps To Reproduce**
1. goto folder `kubeflow-manifests/distribut

[2022-01-05 19:21] harmeet-singh-discovery opened #62 "Kubeflow logout stuck in infinite loop"
**Describe the bug**

I installed Kubeflow 1.4 using Cognito. I can access the Kubeflow UI and signin properly. When I click on logout button, it get stuck in infinite loop. As a result, user is not logged out.

**Steps To Reproduce**
1- Install Kubeflow from this guide: https://github.com/awslabs/kubeflow-manifests/tree/v1.4-branch/distributions/aws/examples/cognito
2- Sign in via Kubeflow UI
3-

[2022-01-06 03:37] mmuppidi opened #63 "AWS ALB Ingress controller runs into "Reconciler error""
I am trying to install Kubeflow 1.3 on an EKS 1.19 cluster using the instructions provided [here](https://github.com/awslabs/kubeflow-manifests/tree/v1.3-branch/distributions/aws/examples/cognito). We have a shared VPC setup with 2 private subnets, each subnet has appropriate tags and deployed in different AZs

| Key | Value|
| --- | ----------- |
| kubernetes.io/cluster/kubeflow-dev | shared |
|

[2022-01-06 18:56] rrrkharse commented on #63
Given that it is searching for the `kubernetes.io/role/elb` tag I believe the alb controller is trying to find public subnets rather than private subnets as desired.

Our current documentation gives instructions to configure the ALB controller for an external ALB, e.g.
[code]

To configure the ALB controller for an internal ALB, step 3 of https://github.com/awslabs/kubeflow-manifests/tree/v1.3-bra

[2022-01-06 19:26] mmuppidi commented on #63
@rrrkharse thanks for looking into this.

Sorry I should have mentioned this in the issue earlier itself, I already set `loadBalancerScheme` param to `internal`. It still doesn't work.

[2022-01-06 19:36] rrrkharse commented on #63
I see, that's strange since the controller logs show that it is still searching for public subnets.

Just double checking that the configurations were correctly applied, did you already try running:
[code]
after making the changes?

[2022-01-07 16:15] mmuppidi commented on #63
Even if I set `loadBalancerScheme` param to `internal` in distributions/aws/istio-ingress/overlays/cognito/params.env file for some reason the `alb.ingress.kubernetes.io/scheme` annotation on ingress shows up as `internet-facing`.

I had to edit the ingress config manually to get it to work ( thanks for the help @rrrkharse)

`kubectl edit  ingress -n istio-system`

and change the line `alb.ingress

[2022-01-07 23:07] #30 closed

[2022-01-10 10:00] revolutionisme commented on #44
@goswamig Is there any update on this? IIRC, we could use IRSA for setting up kubeflow pipelines separately but this seems to be not possible with Kubeflow and this is a critical requirement for us as we are restricted to creating static users on our AWS accounts!

[2022-01-10 18:21] AlexandreBrown opened #66 "[v1.4-branch] Kubeflow Pipeline Does Not Work"
**Describe the bug**
I installed Kubeflow 1.4 using `v1.4-branch` RDS & S3 Setup.
I tried executing the sample run `[Tutorial] V2 lightweight Python components` but it fails.

See Kubeflow 1.4 Progress https://github.com/awslabs/kubeflow-manifests/issues/27

**Steps To Reproduce**
1. Install Kubeflow 1.4 by following the steps described [here](https://github.com/awslabs/kubeflow-manifests/blob/v1.

[2022-01-11 08:43] icereed commented on #44
This is a very important feature to us since static IAM users are a security issue because the credentials can leak.
Highly appreciated if this is being worked on. 👍

[2022-01-13 20:34] surajkota commented on #62
Thanks for reporting the issue.
A workaround until this issue is resolved is to use an incognito window(Chrome)/private window(Firefox) to login to Kubeflow dashboard and close the window when user wants to logout. This works because the browser clears the cookies when the window is closed.

[2022-01-14 03:23] surajkota commented on #66
Hi @AlexandreBrown thanks for reporting this issue.
`katib-my-sql` pod is expected to be in the state you described above since we are using the RDS instance in AWS. The deployment is good if `katib-db-manager` pod is running. `katib-my-sql` pod should be cleaned up in future

(from the logs in screenshot) I wonder why the artifact output location is not an S3 URI. The link you pasted for the logs

[2022-01-14 03:28] surajkota opened #67 "How to setup LB endpoint for vanilla Kubeflow deployment"
**Is your feature request related to a problem? Please describe.**
@AlexandreBrown on #platform-aws slack

_we have vanilla Kubeflow manifest 1.4 installed on EKS.
We used kubectl port-forward for development and now we would like to expose kubeflow so that we can perform inference requests outside the cluster (without port-forward).
We are wondering which doc to use,_

**Describe the solution you

[2022-01-18 09:42] lnguyen46 opened #69 "Error: secret "mlpipeline-minio-artifact"/"mysql-secret" not found in some deployments"
**Describe the bug**
Error: secret "mlpipeline-minio-artifact" not found in the following deployments:
  - ml-pipeline-ui
  - kubeflow-pipelines-profile-controller
  - minio

Error: secret "mysql-secret" not found in the following deployments:
  - metadata-grpc-deployment
  - ml-pipeline
  - cache-server

It seems that these secrets are removed in file `disable-default-secrets.yaml` in commit 6fdc

[2022-01-19 01:37] surajkota commented on #28
Addressed in #55 and #50

[2022-01-19 01:37] #28 closed

[2022-01-20 17:53] surajkota commented on #59
The fluentd service account in the `kube-system` namespace needs to be annotated with a role with these permissions - https://github.com/awslabs/kubeflow-manifests/blob/v1.3-branch/distributions/aws/infra_configs/iam_cloudwatch_policy.json. I see it missing in the steps to reproduce

Triage with the following additional steps:

[code]

[2022-01-20 22:16] #21 closed

[2022-01-21 00:38] jianwu-github opened #74 "Kubeflow installation on EKS should not use fixed secret names, such as "s3-secret" or "rds-secret""
Hi,

Following the installation instructions at https://github.com/awslabs/kubeflow-manifests/tree/v1.3-branch/distributions/aws/examples/rds-s3, the secret names are fixed as  "s3-secret"  and "rds-secret", this would prevent multiple kubeflow installation under same AWS Account.

Please update the doc, if these secret names can be customized for each kubeflow installation.

Thanks!

[2022-01-21 19:35] surajkota commented on #74
Hi @jianwu-github, Thanks for the feedback. I agree with the suggested enhancement. We will look into it and update this issue.

[2022-01-21 19:51] surajkota opened #76 "Create a master branch for AWS Distro Development"
## Background

Current development process being followed for AWS-Kubeflow-distro-1.3.1 was to take a release branch from the manifest repository as the base (a.k.a upstream) and make AWS distribution specific changes on the same branch. This approach presented the fastest way to get development going considering the timeline, kfctl tool getting deprecated and vendors requiring to setup their own

[2022-01-21 20:16] AlexandreBrown commented on #76
Hello @surajkota , this approach is very reasonable.
On our side, we came up to a solution that is pretty similar to isolate the files we needed to change for pre-install (files that are applied during the install) and post-install (yaml that must be applied after kubeflow is installed). This way when a new release comes, we can easily diff our pre and post-install files with the new version and o

[2022-01-23 03:05] AlexandreBrown opened #77 "Deploy RDS Doc Commands Do Not Work"
**Describe the bug**
The current doc suggests the following :
![image](https://user-images.githubusercontent.com/26939775/150663229-f79d5e1a-5334-45e2-bc8a-c2c943410879.png)
(https://github.com/awslabs/kubeflow-manifests/tree/v1.3-branch/distributions/aws/examples/rds-s3)
But when trying the commands from the doc [Deploy Amazon RDS MySQL](https://www.kubeflow.org/docs/distributions/aws/customizing

[2022-01-23 03:49] AlexandreBrown commented on #77
I was able to figure out why the commands would not work.
Running `aws configure` I was able to notice that my preference for output format was set to `yaml`.
I will make a PR to improve the commands so that it works regardless of your output format preference.

[2022-01-25 18:13] khalyan commented on #77
What if I'm still not getting the return values as what i expect it to be returned? Can you help?

[2022-01-25 18:46] AlexandreBrown commented on #77
@khalyan Could you please share more details? What is the commands you are using, what is the output, screenshot maybe etc ?

[2022-01-25 19:04] khalyan commented on #77
I think I'm making a mistake on the setup of EKS cluster. I'll post the example of what I'm using!

$ eksctl create cluster --name=demo-eks-cluster --nodes=2 --region=ap-south-1
[ℹ]  using region ap-south-1
[ℹ]  setting availability zones to [ap-south-1a ap-south-1c ap-south-1b]
[ℹ]  subnets for ap-south-1a - public:192.168.0.0/19 private:192.168.96.0/19
[ℹ]  subnets for ap-south-1c - public:192.1

[2022-01-25 20:28] surajkota commented on #77
@khalyan from this output, looks like the cluster has been created successfully. Can you please elaborate what is not working? i.e. which of the following outputs is empty/incorrect? - vpc_id, subnet_id or security group

[2022-01-25 23:16] AlexandreBrown commented on #77
I created a PR in kubeflow/website to update the current doc see [this PR](https://github.com/kubeflow/website/pull/3121) but [this PR](https://github.com/awslabs/kubeflow-manifests/pull/78) improves the setup and would also fix this issue.

[2022-01-26 07:06] Harikantipudi commented on #22
Yes I have been looking for this since I would not want to go to S3 yet

[2022-01-26 12:29] #77 closed

[2022-02-01 16:47] goswamig commented on #48
This is important for customer and it will help them to do a single command deployment.

[2022-02-01 16:54] goswamig opened #79 "Replace Minio by S3"
**Is your feature request related to a problem? Please describe.**
We want to get rid of Minio completely from Kubeflow and use S3.

**Describe the solution you'd like**
Currently minio act as gateway to S3, one solution is to use S3 controller developed by ACK to act as gateway for S3.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-02-04 04:01] muthurajr commented on #44
@revolutionisme @icereed A patch for the minio deployment using s3 gateway can be applied as a temporary solution.

An example,

[code]

Here "minio" is a eks service account with IAM role attached, and container image needs update as well.

[2022-02-06 15:07] bankbiz commented on #69
I found an error for `kubeflow-secrets-pod`:

`MountVolume.SetUp failed for volume "s3-secret" : rpc error: code = Unknown desc = failed to mount secrets store objects for pod kubeflow/kubeflow-secrets-pod, err: rpc error: code = Unknown desc = Invalid JSON used with jmesPath in secret: rds-secret.`

There're any thing wrong with jmesPath? at `kubeflow-manifests/distributions/aws/aws-secrets-manag

[2022-02-08 01:49] surajkota commented on #67
POC is complete, providing steps here to unblock users before I get a chance to write up the documentation

- cd to root of repository i.e. `kubeflow-manifests` directory
- export cluster name and region
[code]

- configure Ingress
  - Create an IAM role for the ALB controller
[code]
  - Substitute the IAM role created in previous step and cluster name
[code]

  - Tag the cluster subnets
     set

[2022-02-09 23:31] surajkota opened #82 "[Component Guide] KFServing"
**Is your feature request related to a problem? Please describe.**
Existing samples/tutorial in this repository focus on how to install Kubeflow on EKS.
[kserve docs](https://kserve.github.io/website/0.7/get_started/first_isvc/) show how to create an inference service and sending requests from ingress gateway, if user has a realDNS etc. It does not talk about auth or how to setup a real DNS

**Des

[2022-02-10 00:07] ryansteakley commented on #62
Hey Harmeet, I took a look into tackling this issue. It is not a bug since the kubeflow dashboards logout functionality is tied to "logout will initiate /logout which was implemented in oidc-authservice" which we are not utilizing/installing for our cognito example. To properly logout a user when using Cognito + AWS ALB is for the ALB cookies to be expired and then for the Cognito logout endpoint

[2022-02-10 00:45] surajkota commented on #63
@mmuppidi. We removed the duplicate key in manifests. loadBalancerScheme can be changed in this file: https://github.com/awslabs/kubeflow-manifests/blob/v1.3-branch/distributions/aws/istio-ingress/base/params.env

fixed in the PR linked above

[2022-02-10 00:45] #63 closed

[2022-02-10 22:24] ryansteakley commented on #69
@bankbiz  I don't believe there is any issue, have you created the secrets in AWS-secrets manager and have not modified the `secrets-manager.yaml` in anyway?

[2022-02-10 22:29] AlexandreBrown commented on #69
@bankbiz  Perhaps the issue "Invalid JSON" might suggest the json you sent to the secrets manager was not in the format accepted by the  kubeflow-secrets-pod ?
I got a similar issue once when I had one field in my json as "port" : 123 instead of "port" : "123".
The secrets manager accepts it but when came time for the db pod to read it then it screamed at me for the wrong json. Maybe your issue is

[2022-02-11 09:46] surajkota opened #83 "Availability w.r.t secrets manager integration"
**Describe the bug**
[Secrets mount](https://github.com/awslabs/kubeflow-manifests/blob/01c79e461ff064b98d06a7913ac159985cbfcf2b/distributions/aws/aws-secrets-manager/base/secrets-manager.yaml) is modelled as a pod which is unreliable incase the node goes down or secrets needs to be rotated(although auto rotation is not supported)

- [ ] secrets mount pod should be modelled as a Deployment
- [x] I

[2022-02-11 18:02] #23 closed

[2022-02-12 02:59] surajkota opened #86 "Remove katib-mysql pod and mysql pvc from katib with RDS component"
**Describe the bug**
See https://github.com/awslabs/kubeflow-manifests/issues/66#issuecomment-1012715219
When using RDS with Katib having the katib-mysql-secrets, katib-mysql deployment and katib-mysql pvc(10Gb) is confusing for customers and also cost money

**Steps To Reproduce**
kustomize build apps/katib/upstream/installs/katib-external-db-with-kubeflow -o temp

**Expected behavior**
Stated ab

[2022-02-12 03:07] surajkota commented on #69
@bankbiz I ran into the same issue today and realized the secret values were not getting set properly as Alex mentioned. Can you check the Secret value in `rds-secret` and `s3-secret` from Secrets manager?

In my case the s3 secret values were null:
![Screenshot 2022-02-11 at 7 06 27 PM](https://user-images.githubusercontent.com/22246703/153694340-e66efa16-5a72-47e2-840d-8832d8290604.png)

[2022-02-12 03:12] surajkota opened #87 "Remove mysql-pv-claim from pipelines with RDS component"
**Describe the bug**
Currently RDS integration changes the RDS endpoint and credentials but does not remove the mysql pvc(20Gb) and possibly mysql pod from the pipeline component. This costs money for the user

**Steps To Reproduce**
kustomize build awsconfigs/apps/pipeline/ -o temp

**Expected behavior**
Stated above

**Environment**
* Kubeflow 1.3 and above
* AWS service targeted (S3, RDS, etc.)

[2022-02-12 03:49] bankbiz commented on #69
Yeah! I found that the secret is not set properly. Alex PR cloud help for future release.

Thanks.

[2022-02-15 19:22] surajkota commented on #66
Closing this in favour of upcoming master branch and since it has been tested by you in #78. Please reopen the issue if needed

[2022-02-15 19:22] #66 closed

[2022-02-15 19:25] surajkota commented on #69
@lnguyen46 Closing this issue since we haven't heard back since the issues was opened. Please re-open if you still need assistance.

[2022-02-15 19:25] #69 closed

[2022-02-15 19:27] surajkota commented on #14
Closing this issue since we have python based scripts atm. PR is linked above

[2022-02-15 19:28] #24 closed

[2022-02-15 19:50] surajkota commented on #45
This issue seems to be related to upstream Kubeflow components and not specific to any of the AWS components. Hence, requesting you to open this upstream for better visibility and tracking in whole community.

[2022-02-15 19:50] #45 closed

[2022-02-15 19:53] surajkota commented on #36
1. Create a application/component specific guide for using KFP on AWS
2. Test and update the current documentation if needed

[2022-02-16 04:09] surajkota opened #91 "[TRACKING] AWS Distribution for Kubeflow v1.5"
On 02/15 Kubeflow community meeting, manifests WG announced

Feature list:
- [ ] Vanilla Kubeflow
- [ ] Cognito Integration
- [ ] RDS integration for pipelines
- [ ] RDS integration for Katib
- [ ] S3 integration for pipelines
- [ ] DLC in Jupyter Notebooks
- [ ] https://github.com/awslabs/kubeflow-manifests/issues/76
- [ ] Secrets manager integration for credentials
- [ ] EFS
- [ ] FSx
- [ ] e2e

[2022-02-17 23:15] AlexandreBrown opened #95 "Add the ability to specify the RDS & S3 secrets name for the RDS & S3 automated setup"
**Is your feature request related to a problem? Please describe.**
The script should be updated so that users running the automated script can make us of [this work](https://github.com/awslabs/kubeflow-manifests/pull/94)

**Describe the solution you'd like**
The script should provide an optional parameter to specify the RDS secret name and another optional parameter for the S3 secret name.

[2022-02-17 23:48] surajkota commented on #76
Branch is setup, documentation required for release versioning

[2022-02-18 23:40] #86 closed

[2022-02-24 14:23] AlexandreBrown opened #99 "Add the ability to specify the S3 credentials explicitly for the RDS & S3 automated setup"
**Is your feature request related to a problem? Please describe.**
Users might want to use the credentials of a specific account for managing s3 that is different than the credentials of the user running the script.

**Describe the solution you'd like**
Add an optional parameter to the script that allows to explicitly use a specific access key and secret key.

[2022-02-24 14:40] AlexandreBrown opened #100 "Facilitate configuration of RDS & S3 credentials access for Notebooks & Pipelines"
**Is your feature request related to a problem? Please describe.**
It might not be obvious which k8s secret name to use to create a pod default so that we can use the RDS & S3 credentials setup by the credentials manager. It might not be ovious for new k8s users that you need to create something called a PodDefault in order to have access to these credentials from within a notebook and in notebook

[2022-02-24 19:05] surajkota commented on #91
Links to the recommended samples from manifests WG to run for testing: (ref: 2022-02-15 8:00AM community meeting notes)

[2022-02-24 19:53] AlexandreBrown commented on #95
/assign @AlexandreBrown

[2022-02-25 03:54] surajkota commented on #82
Working e2e POC:

In this tutorial we will create a TLS enabled load balancer endpoint for serving prediction requests over HTTPS.

Pre-requisites:
1. Kubeflow deployment
2. Alb ingress controller installed
3. Cluster subnets tagged according to the `Prerequisites` section in this [document](https://docs.aws.amazon.com/eks/latest/userguide/alb-ingress.html) for ALB controller to work

Background:

[2022-02-25 16:25] AlexandreBrown opened #101 "Port the ability to automatically setup RDS & S3 from v1.3 branch to main branch"
**Is your feature request related to a problem? Please describe.**
Add the ability to automatically setup RDS & S3 from main branch

**Describe the solution you'd like**
Setup script and doc should be ported to main branch.

[2022-02-25 16:26] AlexandreBrown opened #102 "Port the ability to automatically setup EFS from v1.3 branch to main branch"
**Is your feature request related to a problem? Please describe.**
Port the ability to automatically setup EFS from v1.3 branch to main branch

**Describe the solution you'd like**
Port the script and doc to the main branch

[2022-02-26 07:25] ryansteakley commented on #82
Looks fine to me, in the pre-requisites when you direct them towards https://docs.aws.amazon.com/eks/latest/userguide/alb-ingress.html to have the cluster subnets tagged properly, perhaps we should also link to this command we have in the cognito readme to make it easier for the user? Specifically section 4 of this https://github.com/awslabs/kubeflow-manifests/tree/main/docs/deployment/cognito#40-

[2022-02-28 21:17] surajkota commented on #82
for 1. -> I will work on #67 first so the prerequisites are reduced
2 -> tokens are static strings. They are not linked to any session and hence have no expiration times. Will add this to the documentation or think of a better wording

[2022-02-28 21:21] AlexandreBrown commented on #82
@surajkota I see that we specify 2 values for the tokens when defining the Ingress but we only specify one when doing a test request.
Should we use 1 or 2 values?

[2022-03-01 03:09] AlexandreBrown opened #110 "Metadata db is not populated after running a pipeline"
**Describe the bug**
When using Pipelines integration, if we specify a metadata db name that is different than the Kubeflow default of `metadb` then the metadata like artifacts types will still be pushed to a db named `metadb`.

**Steps To Reproduce**
1. Specify a name different than `metadb` when setting up the rds db, let's use the db name `kubeflow` for this example
2. Install Kubeflow (tested

[2022-03-01 03:14] AlexandreBrown commented on #110
@surajkota Let me know which fix you prefer, if it's fix # 1 then I can make the change tomorrow.

[2022-03-01 14:05] AlexandreBrown commented on #110
I can confirm that adding the `mlmdDb` param in the `params.env` fixes it, will make a PR for this.

[2022-03-01 21:50] #102 closed

[2022-03-01 21:50] #101 closed

[2022-03-02 13:25] DanielLund opened #116 "Cannot find target group nor listener when setting up load balancer"
**Describe the bug**
Followed the steps to build a load balancer, getting two errors from the alb-ingress-gateway pod:
"error"="failed to reconcile listeners due to failed to reconcile rules due to ListenerNotFound: One or more listeners not found
followed by
msg"="Reconciler error" "error"="failed to reconcile targetGroups due to failed to reconcile targetGroup tags due to TargetGroupNotFound: Ta

[2022-03-02 14:01] DanielLund commented on #116
Never mind, these errors were occurring because the health checks for the target group were failing, changed the success code to 302 and it works.

[2022-03-02 14:01] #116 closed

[2022-03-02 19:03] akartsky opened #117 "[Doc] Support S3 as source for in Kubeflow Pipelines Artifact Viewer"
"Support S3 Artifact Store" section of document is outdated : https://www.kubeflow.org/docs/distributions/aws/pipeline/#support-s3-artifact-store

## Outdated Doc :

Kubeflow Pipelines supports different artifact viewers. You can create files in S3 and reference them in output artifacts in your application as follows:

[code]

[2022-03-02 19:14] akartsky opened #118 "[Doc] Support TensorBoard in Kubeflow Pipelines"
"Support TensorBoard in Kubeflow Pipelines" section of document is outdated :
https://www.kubeflow.org/docs/distributions/aws/pipeline/#support-tensorboard-in-kubeflow-pipelines

## Outdated Doc :
[TensorBoard](https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/#tensorboard) needs some extra settings on AWS like below:

1. Create a Kubernetes secret aws-secret in the kubeflow nam

[2022-03-02 19:15] akartsky commented on #118
https://github.com/kubeflow/kubeflow/issues/6328

[2022-03-03 01:09] surajkota commented on #26
Release tag is created and website has been updated
https://github.com/awslabs/kubeflow-manifests/releases/tag/v1.3.1-aws-b1.0.0
http://localhost:1313/docs/distributions/aws/

[2022-03-03 01:09] #26 closed

[2022-03-03 10:13] DanielLund opened #119 "Unable to deploy notebook or tensorboard servers"
**Describe the bug**
When trying to setup a notebook server or a tensorboard server when deploying kubeflow on eks I get the following error:
[403] Could not find CSRF cookie XSRF-TOKEN in the request.

**Steps To Reproduce**
Follow the Vanilla guide for v1.3 aws deployment of kubeflow

**Expected behavior**
Expected behaviour was to deploy a notebook or tensorboard server

**Environment**
* Kuber

[2022-03-03 11:26] DanielLund commented on #119
<img width="1440" alt="Screenshot 2022-03-03 at 11 25 54" src="https://user-images.githubusercontent.com/75539890/156555630-8253c240-2e6c-49e6-bc25-02ac4577824b.png">

[2022-03-03 21:43] goswamig commented on #44
a lot of discussion around this https://github.com/kubeflow/pipelines/issues/3405

[2022-03-04 15:57] DanielLund commented on #119
This is actually urgent for me. I would love a response if possible

[2022-03-04 19:09] goswamig opened #121 "Kubeflow integration with AWS managed Prometheus, Grafana and CW"
**Is your feature request related to a problem? Please describe.**
Logging and monitoring are two important aspect of MLOps platform. AWS distro of Kubeflow should have integration with aws managed Prometheus, grafana and cloudwatch(CW)

**Describe the solution you'd like**
I believe we should order this in priority
1. Logging: CW and Prometheus integration
2. Monitoring: Grafana integration.

As

[2022-03-04 19:36] surajkota commented on #119
Hi @DanielLund, looking into this. I was able to reproduce the issue

[2022-03-04 20:05] #110 closed

[2022-03-04 20:05] #99 closed

[2022-03-04 20:28] surajkota commented on #119
Since the load balancer endpoint is not using HTTPS, the solution as the documentation suggests is to set `APP_SECURE_COOKIES: false` in all the respective webapp deployments. for e.g. in this case you would change in the jupyter-web-app deployment

`kubectl edit deployments -n kubeflow jupyter-web-app-deployment`

under `spec.template.spec.containers.env` add the environment variable
[code]

and

[2022-03-04 20:37] surajkota commented on #67
The above steps open are ok to use for experimentation and not for production since it [opens port 80 on the ALB side](https://github.com/awslabs/kubeflow-manifests/blob/v1.3-branch/distributions/aws/istio-ingress/base/ingress.yaml#L7) which does not support HTTPS. This also needs additional configuration on the Kubeflow webapps as documented below -

See [#119 ](https://github.com/awslabs/kubeflo

[2022-03-04 22:08] surajkota commented on #67
[Work in progress] Tutorial for exposing Kubeflow with TLS enabled HTTPS endpoint using AWS Application load balancer:

Background: Certificates for ALB public DNS names are not supported. You must create a custom domain.

Pre-requisites:

- Kubeflow deployment using dex as idP
- Alb ingress controller installed (Refer https://github.com/awslabs/kubeflow-manifests/issues/67#issuecomment-1032128251

[2022-03-04 22:36] surajkota commented on #119
Hi @DanielLund, Please find the updated documentation here - https://github.com/awslabs/kubeflow-manifests/issues/67#issuecomment-1059566247

[2022-03-05 13:44] js-ts commented on #91
@surajkota are you going to make KServe default ?

[2022-03-07 11:09] DanielLund commented on #119
@surajkota I cannot thank you enough for this. This is fantastic

[2022-03-07 11:09] #119 closed

[2022-03-07 13:33] GetOn4 commented on #27
looking forward to the release!

[2022-03-07 19:59] surajkota commented on #91
We will follow same as Kubeflow release

[2022-03-07 22:43] surajkota opened #122 "Should users be allowed to sign themselves up using Cognito hosted UI"
**Is your feature request related to a problem? Please describe.**

**Current Scenario:**
The userpools created in deployment docs requires the AWS account/userpool admin to create users in cognito with their username, email address and a temporary password. Username is the only required parameter whereas email id is mandatory for kubeflow multi-user to work.

Sign up page only asks for username a

[2022-03-07 22:48] surajkota commented on #122
Current customers who want to disable sign up from hosted UI can select option `Only allow administrators to create users` under General Settings/Policies. See more on [aws docs](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-admin-create-user-policy.html)

[2022-03-08 02:00] akartsky commented on #91
Manually tested that current mainline works with EKS 1.20
also successfully ran the https://github.com/kubeflow/manifests/tree/master/tests/e2e

[2022-03-08 06:05] js-ts commented on #91
@akartsky as the upstream test exaple for https://github.com/kubeflow/manifests/tree/master/tests/e2e which is https://github.com/kubeflow/pipelines/blob/master/samples/contrib/kubeflow-e2e-mnist/kubeflow-e2e-mnist.ipynb
is updated you should try it out using that example as it uses kserve instead of kfserving .

[2022-03-08 18:56] surajkota commented on #91
Great!! lets expand the matrix to test EKS - 1.19, 1.20 & 1.21 (same as 1.3,1.4) and run the mnist-e2e test from this PR: https://github.com/kubeflow/manifests/pull/2164 (this includes kserve) or the notebook Vedant has linked above

Nice to have is rds & s3 tested. It is fine to test this on just one version

1.21 is less risk since other distributions have tested it but I have not seen any updat

[2022-03-08 19:24] surajkota opened #124 "[e2e test] AWS Jupyter notebook images"
**Is your feature request related to a problem? Please describe.**
e2e tests for AWS optimised DLC based notebook server images

[2022-03-08 19:26] surajkota opened #125 "[e2e test] aws usage tracking component"
**Is your feature request related to a problem? Please describe.**
e2e test to avoid regression in [usage tracking component](https://github.com/awslabs/kubeflow-manifests/tree/main/awsconfigs/common/aws-telemetry)

[2022-03-08 19:31] surajkota opened #126 "[e2e test] Central Dashboard"
**Is your feature request related to a problem? Please describe.**
Test central dashboard on high level. Like login/logout, webapps are linked etc

Full scope: TBD

[2022-03-09 01:29] akartsky commented on #91
Tested EKS - 1.19, 1.20 & 1.21 and ran mnist-e2e test from the PR

[2022-03-09 01:34] surajkota commented on #91
@akartsky please update on the community's issue as well

[2022-03-09 01:43] akartsky commented on #91
Done

[2022-03-09 03:26] akartsky commented on #91
Found an [issue](https://github.com/kubeflow/manifests/issues/2165) with cache-deployer Pod

[2022-03-09 13:58] Harikantipudi commented on #126
I am setting up kubeflow 1.5 this week . Will test and share any findings

[2022-03-10 20:46] goswamig opened #128 "Helm chart for kubeflow deployment."
**Is your feature request related to a problem? Please describe.**
Customer would like to use helm chart for kubeflow deployment with various configuration which AWS distro offers.

**Describe the solution you'd like**
Something along the below line

[code]

**Additional context**
This will be helpful in https://github.com/awslabs/kubeflow-manifests/issues/48 as well.

[2022-03-11 09:28] tejarora opened #129 "Deployment documentation is broken"
**What is the URL of the document?**
Issues pertain to 3 documents (3 different branches)
1. https://github.com/awslabs/kubeflow-manifests/tree/main/docs/deployment/vanilla
2. https://github.com/awslabs/kubeflow-manifests/tree/release-v1.3.1-aws-b1.0.0/distributions/aws/examples/vanilla
3. https://github.com/awslabs/kubeflow-manifests/tree/v1.3-branch/distributions/aws/examples/vanilla

**Which se

[2022-03-11 21:48] goswamig commented on #129
@tejarora  thanks for reporting this.

a) This is just a general pre-requisite that user/role which are trying to deploy the kubeflow has permission to create role and attach polices.  This is the IAM user/role who is deploying the kubeflow, which could be "you (mac)" if "you(mac)" are trying to deploy kubeflow on your eks cluster or it could be "your(Ec2)" instance from where you are deploying ku

[2022-03-12 10:51] Harikantipudi commented on #129
@goswamig

Also the V1.4-branch-stale , does that mean all the future releases will now be from main and the check out to respective branch

From the below , what will AWS_MANIFESTS_BUILD value for 1.4/1.5  be considering , I see now see only below branches , not sure if i am missing something  here please ??

v1.3-branch, v1.3.1-aws-b1.0.0, [v1.4-branch-stale

Clone the awslabs/kubeflow-manifest

[2022-03-12 11:26] Harikantipudi commented on #91
yes KServe comes with 1.5 by default

[2022-03-12 11:36] Harikantipudi commented on #121
Perhaps, this can be option given to the user during installation stage as a config option. All services of AWS should be given as config options and defined by the user during start of installation and have an automatic script running to do do the installation. This will be super cool and will speed up the whole installation time and the user experience

I did Prometheus and Grafana integration s

[2022-03-12 11:39] Harikantipudi opened #132 "MLflow Integration onto Kubeflow"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is
MLflow integration is being highly looked upon in combination with Kubeflow

**Describe the solution you'd like**
A clear and concise description of what you want to happen
MLflow comes very handy for model Registry and Models tagging across different environments

**Describe a

[2022-03-13 00:43] ryansteakley commented on #129
@Harikantipudi Hello, the AWS_MANIFESTS_BUILD values for 1.4/1.5 are not out as we have not released official support for those versions. As your question about V1.4-branch-stale all work for v1.4 is now occuring in the main branch. We are planning on releasing v1.4 support soon, you can track our progress here https://github.com/awslabs/kubeflow-manifests/issues/27

[2022-03-13 00:52] ryansteakley commented on #132
Hey @Harikantipudi thanks for the issue do you have any links towards where there is discussion of "MLflow integration is being highly looked upon in combination with Kubeflow", so I can take a look, is this in the kubeflow community?

[2022-03-15 20:02] AlexandreBrown commented on #82
Hello, we followed the guide but unfortunately could not get an inference to return a result.

# Important of the issue
**This issue is critical for us since it blocks us from deploying any model to production.**

# Issue
Performing an inference to a model server returns a 504 Gateway Timeout Error

# Steps to reproduce
1. Create a cluster on EKS 1.21
Here is the cluster definition I used
[code]
2

[2022-03-15 22:50] surajkota commented on #82
Thanks for reporting the issue and detailed steps to reproduce. My first thought is you might be hitting these open issue where auth policy is incomplete in profile namespace: https://github.com/kserve/kserve/issues/1558, https://github.com/kubeflow/kubeflow/issues/5965. I can confirm this issue exists in 1.4 since I was also not able to get the request served in profile namespace.

I created a pl

[2022-03-16 01:35] AlexandreBrown commented on #82
Thank you @surajkota , I was able to still use profiles by applying the right auth policy (mine is slightly modified to the one linked to add v2 protocol support) :
[code]
If someone uses transformers he would need to apply it for transformers as well :
[code]

This is not an AWS issue, it should be added to vanilla Kubeflow in my opinion.
Until it is added to vanilla Kubeflow we could mention it

[2022-03-16 03:24] #122 closed

[2022-03-16 22:33] #100 closed

[2022-03-17 06:22] AlexandreBrown opened #137 "Avoid Ec2 VPC SecurityGroups Quota When Setting Up RDS"
**Is your feature request related to a problem? Please describe.**
When trying to setup Kubeflow using `main` + `v1.4.1` upstream, I ran into an issue at the db creation step.
`boto3` returned the following error : `An error occurred when calling the CreateDBInstance operation: The request violates your limit on number of Ec2 VPC SecurityGroups associated with an instance`
After hours of back and

[2022-03-17 21:20] #137 closed

[2022-03-17 23:17] mbaijal opened #139 "Refactor the kubeflow storage integration tests into smaller feature tests"
**Is your feature request related to a problem? Please describe.**
Refactor the Kubeflow Storage tests into smaller feature tests

**Describe the solution you'd like**
Split all the storage integration tests (EFS, FSx, Static and Dynamic provisioning) into two separate tests each - 1) the PVC creation; 2) Testing PVC data access via Kubeflow Pipelines

**Describe alternatives you've considered**
T

[2022-03-17 23:20] mbaijal opened #140 "Create a user script for Filesystem cleanup (EFS and FSx)"
**Is your feature request related to a problem? Please describe.**
We need a way to be able to delete all resources created by the automated or manual EFS/FSx tests or user runs. This would also help with providing easy commands in docs.

**Describe the solution you'd like**
Create a script for Filesystem cleanup (EFS and FSx) that can be used directly by the user

**Describe alternatives you've c

[2022-03-18 04:22] AlexandreBrown opened #143 "Make secrets created by Secrets Manager work with KServe/KFServing Service Account"
**Is your feature request related to a problem? Please describe.**
KFServing/KServe allows you to use a Service Account that references a secret in order to pull a model stored on S3 for inference.
By default KFServing/KServe expects the secrets keys to be `AWS_ACCESS_KEY_ID` and `AWS_SECRET_KEY` but the keys created from the secrets created by the Secrets Manager integration are `accesskey` and `

[2022-03-18 05:29] AlexandreBrown opened #145 "Logs not showing for Inference Service"
**Describe the bug**
Model Web app logs are not showing :
![image](https://user-images.githubusercontent.com/26939775/158942882-18f2de1f-39fe-412e-82af-c8d8754403a4.png)
Browser console is showing that a request to get the logs is returning a 500 in a loop:
![image](https://user-images.githubusercontent.com/26939775/158942907-5f2cfd53-7303-4325-a176-ec9033c3f173.png)
![image](https://user-images.g

[2022-03-18 16:33] akartsky commented on #118
## Errors :

There are the errors that might see on the tensorboard pod when you try to use S3

1] This is caused because we need to specify `AWS_REGION` as environment variable for the pod
[code]

2] This is caused because the pod does not have permissions to access the S3 bucket
(pod will default to using Node IAM role if no secrets are provided and that will not have S3 access)
[code]

## Issue

[2022-03-18 23:30] #76 closed

[2022-03-18 23:51] surajkota commented on #129
Hi @tejarora, @Harikantipudi

initial question and (b): little bit of background here:
- I have added some background in [releases and versioning documentation](https://github.com/awslabs/kubeflow-manifests/tree/v1.3-branch/distributions/aws/examples#releases-and-versioning) to `v1.3-branch` which should answer your questions on this and also help understand why the branches are different. Added t

[2022-03-18 23:55] surajkota commented on #129
I have also added a badge on the top of main readme in the main branch which would reflect which Kubeflow version is being developed - https://github.com/awslabs/kubeflow-manifests/blob/main/README.md

[2022-03-19 00:54] AlexandreBrown opened #148 "Pipeline Execution Does Not Work With us-east-2 & Cognito"
**Describe the bug**
After running a kubeflow pipeline with S3 as `pipeline_root`, the pipeline run fails.

**Steps To Reproduce**
1. Create a cluster in **us-east-2** using EKS 1.21
2. Create a bucket in **us-east-2**
3. Install Kubeflow using `main` + `v1.4.1` upstream following `cognito-rds-s3` + KFServing (not sure if KFServing changes anything, probably not) setup.
4. Setup secrets access for

[2022-03-19 18:12] AlexandreBrown commented on #148
@surajkota Maybe it has to do with the fact I have created a new profile? Not sure if `apps/pipeline/params.env` will cover all profiles?

[2022-03-19 18:27] AlexandreBrown commented on #148
`kubectl describe pod my-pipeline -n my-namespace`

[code]

[2022-03-19 19:47] satish-dops94 opened #149 "metadata grpc deployment pod is in CrashLoopBackOff state"
Hi All, I am actually new to kubeflow, I followed the ReadMe section and deployed the kubeflow with RDS and S# connectivity.

**Description**
After the deployment, everything was working fine apart from the RDS connectivity with the metadata grpc deployment is not working properly, due to which ml-pipeline is not up and running.

Below are the logs from the pod:
**metadata-grpc-deployment:**
[code

[2022-03-20 04:59] AlexandreBrown commented on #148
I'm not able to reproduce on a fresh test cluster, I will try to re-install from a fresh cluster for our prod environment and re-open if the issue still occurs.

[2022-03-20 07:04] AlexandreBrown commented on #148
I'm not able to reproduce on a fresh test cluster, I will try to re-install from a fresh cluster unless someone has an idea about a fix.
Will close the issue if re-installing from fresh cluster fixes it.

[2022-03-21 01:51] AlexandreBrown commented on #140
Some POC I have so far

[code]

[2022-03-21 04:57] AlexandreBrown commented on #140
That's a good idea @mbaijal , after **a lot** of trials and errors, here is a POC I came up with that finally works (code not clean, will make more functions etc).
I am able to use this to delete all needed ressources, then re-create a new EFS and it works.
The very tricky/not-obvious-part for me was to delete the deployment and the daemon set, took me a while to figure out that without these dele

[2022-03-21 16:10] #62 closed

[2022-03-21 18:13] satish-dops94 commented on #149
I was able to resolve the above issue. I believe the culprit was the go package version which installed the kustomize.
But I am facing another use while bringing up the ml-pipeline pod:

[code]

Any suggestions, as if this is the known issue while trying to connect to the S3 bucket.

[2022-03-21 22:24] goswamig commented on #44
Current status:

So there are multiple places where we can use IRSA for S3 access and these are blocked by Minio feature gap of support

#### Kubeflow pipeline
#### KFServing/KServing
#### Tensorboard on KubeFlow
Probably many other places...

There are places where we use IRSA today since its not blocked minio
for e.g.
in [Kubeflow pipeline component](https://github.com/kubeflow/pipelines/blob/ma

[2022-03-21 23:43] rrrkharse commented on #149
Hi @satish-dops94, I'll need to look deeper into the issue but looks like some configurations were not applied appropriately. This can happen when a `kustomize` version > 3.20 is used. Are you using `kustomize` to apply the manifests and are you using version 3.20?
[code]

[2022-03-21 23:54] rrrkharse commented on #148
I'll prioritize taking a look and see what is missing that is causing a `301` [response](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/301).

Also I'll take a look at why the S3 URL is for a `us-east-1` object and if that matters.

[2022-03-21 23:55] rrrkharse commented on #145
Will repro this and see what is going on

[2022-03-22 07:04] satish-dops94 commented on #149
Hi @rrrkharse, Few points I would like to mention, I was also thinking this might have caused some issue but the below points drove me into confusion.

- I have installed the Kustomize from the source code 3.2.0 only, but the go package installed in my system was using GoArch:amd64, and my OS architecture is GoArch:arm64.
- I installed the whole kubeflow setup using the amd64 version of the go pac

[2022-03-22 20:20] AlexandreBrown commented on #148
Thanks @rrrkharse , I was able to resolve the issue.
The error was not on AWS side but rather on our side, we solved the issue by following @surajkota 's suggestion and added `s3:GetBucketLocation` to the Kubeflow AWS account permissions (this is only needed if you share a bucket with multiple accounts).

What happened is Kubeflow Pipeline (or something) performs a `GetBucketLocation` at the end o

[2022-03-22 20:20] #148 closed

[2022-03-23 15:40] surajkota commented on #82
The above problem is being addressed in this PR: https://github.com/kubeflow/kubeflow/pull/6013

[2022-03-23 20:17] goswamig commented on #43
customer related issue: https://github.com/kubeflow/kubeflow/issues/6166

[2022-03-23 23:05] surajkota commented on #43
I think [this](https://github.com/kubeflow/manifests/blob/v1.2-branch/aws/infra_configs/iam_profile_controller_policy.json) was the policy which was attached to profile controller to execute the aws iam plugin

[2022-03-24 00:20] surajkota commented on #44
Issue to support this in Kserve: https://github.com/kserve/kserve/issues/2113

[2022-03-24 20:31] goswamig commented on #149
@satish-dops94  couple of questions

what platform u r running the kubeflow on EKS or something else?? Is it EKS or something else?
Whats your gateway from which you're deploying kubeflow (your Mac or window or something else?)

[2022-03-24 21:40] rrrkharse commented on #145
Hi @AlexandreBrown, surprisingly I am unable to reproduce the issue so far.

My setup:
- `main` branch in this repo, `v1.4.1` in `kubeflow/manifests`
- Cognito setup via https://github.com/awslabs/kubeflow-manifests/blob/main/docs/deployment/cognito/README-automated.md
- RDS/S3 setup via https://github.com/awslabs/kubeflow-manifests/tree/main/docs/deployment/rds-s3#21-option-1-automated-setup
- Cr

[2022-03-24 22:15] goswamig opened #150 "Add automation steps for cognito + RDS + S3 setup."
**What is the URL of the document?**
In this (cognito + s3 +RDS integration) [url](https://github.com/awslabs/kubeflow-manifests/tree/main/docs/deployment/cognito-rds-s3) we did not talk about automation script similar to how we have had for [cognito](https://github.com/awslabs/kubeflow-manifests/tree/main/docs/deployment/cognito) and [S3 + RDS](https://github.com/awslabs/kubeflow-manifests/tree/m

[2022-03-24 22:18] goswamig opened #151 "Cloudformation template for kubeflow deployment."
**Is your feature request related to a problem? Please describe.**
Many customers like to have infra as code for production grade deployment. We have seen customers using cloudformation(cfn) or terraform to deploy kubeflow.

In our service integration we should provide cfn for each integration as well combined so that customer can just edit the value and re-deploy the kubeflow. With CFN help custo

[2022-03-25 01:48] AlexandreBrown commented on #145
@rrrkharse

I am referring to [this guide](https://github.com/awslabs/kubeflow-manifests/issues/82)

Yes I have, I also tried re-installing Kubeflow multiple times, didnt fix it.

Will check this as well as your other questions on monday and get back to you.

I tried visiting my https://<public dns endpoint>/models/api/namespaces/<user profile namespace>/inferenceservices/<model name>?logs=true&co

[2022-03-25 07:38] goswamig commented on #43
@surajkota do we know which policy its attaching to?

[2022-03-25 07:44] goswamig commented on #43
@rrrkharse @surajkota  can u guys confirm, to me it looks like that plugin of updating the role policy is optional only if plugin is added in profile.

Take a look at the sample profile https://github.com/kubeflow/kubeflow/blob/master/components/profile-controller/config/samples/profile_v1_aws_iam.yaml#L9

[2022-03-28 19:50] surajkota commented on #43
Thanks for the investigation. The links above show how to do it, but I could find documentation on the the user story. Can you help fill in the following blanks:

As a Kubeflow user, I want to ____, so that I can _______. To do this, I need an IAM role attached in the ___, ___, ___ service accounts in a user profile namespace. I can use the `AwsIamForServiceAccount` plugin in Kubeflow profiles to

[2022-03-29 14:41] satish-dops94 commented on #149
Hi @rrrkharse, @goswamig, Thanks for your responses and support..!!
@goswamig, to answer your question, I am running kubeflow on EKS and I am deploying kubeflow from MAC onto the Linux versions only.

I was able to fix the issue, by re-installing the secrets-manager and kubeflow pipelines deployments, but before installing I had to delete the existing deployment completely and again had done a fre

[2022-03-29 22:42] goswamig commented on #43
plugin documentation: https://github.com/kubeflow/kubeflow/tree/d43aee19ad8b556273a627ad34367e7e56b5c97e/components/profile-controller

A complete sample of profile: https://github.com/kubeflow/kubeflow/blob/d43aee19ad8b556273a627ad34367e7e56b5c97e/components/profile-controller/config/samples/profile_v1beta1_profile.yaml

should  `gcpServiceAccount` replace by `AwsIamForServiceAccount `.

[2022-03-30 20:43] ryansteakley commented on #59
Fluentd is no longer reccomended by Amazon EKS and they will be deprecating it in favor of fluentbit. In respect to the above error that occurred if using fluentd, this error message occurs becuase of a lack of permission to the NodeInstanceRole, which can be remedied by providing it with the proper iam policy as documented here https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Contai

[2022-03-30 20:45] #59 closed

[2022-03-31 07:36] HectorGonzalezBeltran opened #158 "Error Deploying Kubeflow on EKS"
Hello everyone,

I've been following the guides for several days to install kubeflow on EKS with cognito, RDS and S3. The last test has been following this guide:

https://github.com/awslabs/kubeflow-manifests/tree/v1.3-branch/distributions/aws/examples/rds-s3

I have checked each step several times. I have used the python script indicated in the guide to generate and configure the resources. Howe

[2022-03-31 18:01] surajkota commented on #158
Thank you Hector, I will try to reproduce it on my end. Few questions in the meantime:

- Were you using a new cluster for trying this out or an existing cluster?
- Are able to reproduce it on a fresh cluster as well?
- From the logs, I think you are using the single line installation, is that correct? If you can try out the individual component installation, it will be helpful to know at which st

[2022-03-31 21:44] goswamig opened #160 "Airflow integration in kubeflow pipeline"
**Is your feature request related to a problem? Please describe.**
Currently Kubeflow pipeline uses Argo in backend and frontend, in order to integrate it with  AWS airflow, we need to enable the support of airflow.

**Describe the solution you'd like**
Swap out the need of argo in kubeflow to airflow.

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2022-03-31 23:51] goswamig commented on #121
@Harikantipudi  thanks for adding it. Is this only needed for serving or do we need something similar for notebook, tensorboard etc.?

[2022-04-01 06:56] HectorGonzalezBeltran commented on #158
Hello Suraj!

I have created a new cluster for the kubeflow installation. The cluster is created with the command shown in the guide:

https://github.com/awslabs/kubeflow-manifests/tree/v1.3-branch/distributions/aws/examples/rds-s3

In other tests I tried with the individual components and it failed with the following command
(Actually it didn't fail but the command stayed active but never finishe

[2022-04-01 13:11] Harikantipudi commented on #121
@goswamig , the above setup is more for log monitoring like usage of CPU, Memory etc post your inference serving in Model UI for Kubeflow. However this can be extended for performance metrics and other monitoring aspects too

[2022-04-01 13:24] Harikantipudi commented on #160
@goswamig . Did something similar recently may not be exactly , I can share steps but I think we need to have a more strong rationale and justification to have Airflow integrated within Kubeflow, since end of the day orchestration is already taken care

[2022-04-01 13:33] Harikantipudi commented on #158
Hello Hector,

I am not sure this can be the issue and i am sure it is not but can you try out with kustomize version 3.2.0 than 3.2.3 since 3.2.0 is a hard requirement and follow pre-requisites to the dot for version 1.3 . You are better off that way

I will try reproducing the steps you followed too and come back

[2022-04-01 13:37] Harikantipudi opened #161 "Kubeflow Upgrades Documentation"
**What needs fixing and describe the solution you'd like?**
A clear , concise and complete documentation around how users can upgrade from Kubeflow 1.2 to 1.3 and to 1.4 etc without losing the underlying workloads especially in a production setup

**Additional context**
Should the Users Blue/Green Upgrade strategy and how to smoothly do Upgrades with minimal impact to Business

[2022-04-01 13:59] HectorGonzalezBeltran commented on #158
Hi! Thanks for your reply.
I keep getting error with kustomize version 3.2.0, you can see the following error:
<img width="1474" alt="Screenshot 2022-04-01 at 15 57 54" src="https://user-images.githubusercontent.com/97881916/161278312-46eee720-641f-4893-8cd8-b90110686cf5.png">
And the command just freezes there and never ends

[2022-04-01 14:41] Harikantipudi commented on #158
https://github.com/kubeflow/manifests/issues/2086

Can you try this out, solution is out there !!. Let me know

[2022-04-02 00:02] goswamig commented on #160
@Harikantipudi in AWS distro of kubeflow, we are trying to help customers who wants to use some of the managed services like RDS (meta data store), S3 (artifact storage), Cognito (user managements) etc. I believe mapping out Argo to managed services like aws managed airflow does frees up resources usage of argo side car that runs in the data plane of clusters.

[2022-04-04 08:47] mbaijal commented on #117
The current instructions seem to be broken. While we work on a fix using IRSA, the following workaround should help -

1. Create a secret called `aws-secret` in your user namespace. Make sure to use the AWS_REGION as well as -
[code]

2. Edit the ml-pipeline-ui-artifact deployment to use the specified secret
`kubectl edit deployment ml-pipeline-ui-artifact -n kubeflow-user-example-com`

3. Once in

[2022-04-04 20:32] surajkota commented on #158
Thanks @Harikantipudi

Here are some more of the relevant existing closed threads I found related to this issue:

https://github.com/kubeflow/manifests/issues/2096#issuecomment-1002851249
https://github.com/kubeflow/manifests/issues/2086#issuecomment-995868483
https://github.com/kubeflow/manifests/issues/2062

There are a few more as well. On a preliminary analysis it looks like some of the nodes

[2022-04-05 00:24] AlexandreBrown commented on #145
@rrrkharse Hello, could we get some help on this issue?

**Command :**
[code]
**Output :**
[code]

**Command :**
[code]
**Output :**
[code]
(All other pods running)

**Command :**
[code]
**Output :**
[code]

**Command :**
[code]
**Output :**
[code]

This last output seems to be where things went wrong.
[code]

[2022-04-05 00:31] AlexandreBrown commented on #145
Perhaps this might be an issue with RoleBinding ?

Here is how we created users :
1. Create a profile/namespace
[code]
2. Create default-editor service account
[code]
3. Apply the RoleBinding for user (taken from [kubeflow doc](https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#managing-contributors-manually))
[code]
4. Apply Auth policy (again, taken from [kubeflow doc](https

[2022-04-06 06:29] goswamig commented on #145
Hey,  the error in `kfserving-models-web-app-7884f597cf-bgpk4` is not related to RBAC
but something else.

Here is the code which does that check
https://github.com/kserve/models-web-app/blob/b842420d45f0bcf596a219efc116e8c66a727683/backend/apps/common/utils.py#L47

Can you describe the pod and paste the output?

[2022-04-06 12:18] AlexandreBrown commented on #145
@goswamig
**Command :**
[code]
**Output :**
[code]

[2022-04-06 12:56] AlexandreBrown commented on #145
Here is the description of an inference pod
[code]

**describe :**
[code]

[2022-04-06 20:05] goswamig commented on #145
So indeed the webapp pod doesnt have a level with `KNATIVE_REVISION_LABEL`,

@rrrkharse  Can you share your output from describe of webapp pod ? and also kserving version that is deployed in 1.4.1 ?

[2022-04-06 20:11] rrrkharse commented on #145
Pod description

[code]

[2022-04-06 20:16] rrrkharse commented on #145
Kserve version from this commit: https://github.com/kubeflow/manifests/tree/ca48b5eb6b77e74c957bf4522e47ae82ed78cc4a/apps/kfserving/upstream/overlays/kubeflow

[2022-04-07 07:02] HectorGonzalezBeltran commented on #158
Hello! thank you all for your answers, I will try those solutions. Sorry for not replying earlier, it has not been possible for me. I will try these solutions and let you know.

[2022-04-08 04:55] mbaijal opened #164 "[Maybe a Bug] Integration Tests using KFP are unable to set the namespace by default"
**Describe the bug**
A clear and concise description of what the bug is.
The integration test logs for EFS/FSx and RDS/S3 show the following log -
[code]

Even though the test succeeds afterwards it is worth checking this out.

**Steps To Reproduce**
Run the EFS/FSx/RDS integration test.

**Expected behavior**
The error log should not be seen.

**Environment**
* Kubernetes version
* Using EKS (yes

[2022-04-08 04:55] mbaijal commented on #164
Context based on a very quick initial check -
It seems to be coming from here - https://kubeflow-pipelines.readthedocs.io/en/stable/_modules/kfp/_client.html and is happening because kfp is not able to set the namespace automatically.
This comes from the k8s feature defined here - https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#serviceaccount-admission-controller

[2022-04-08 17:18] surajkota opened #166 "Automation scripts reside in tests directory"
**Is your feature request related to a problem? Please describe.**
User facing scripts in tests directory is not ideal experience. Currently, we are facing a limitation with Python to keep the scripts upto date and run them as part of tests in the same way user would run it, reduce code duplication, verify script dependencies are upto date and have consistent user experience across deployment guid

[2022-04-11 17:48] AlexandreBrown commented on #145
Any update @goswamig @rrrkharse ?

[2022-04-11 20:31] #67 closed

[2022-04-11 22:48] goswamig commented on #145
Hey @AlexandreBrown ,   so what @rrrkharse has [running](https://github.com/awslabs/kubeflow-manifests/issues/145#issuecomment-1078411329) has different UI than what you're [running](https://github.com/awslabs/kubeflow-manifests/issues/145#issue-1173203624).

If you noticed in @rrrkharse  he does not have `Metrics` tab. Are you running the same version as @rrrkharse  with same instructions. ?

[2022-04-11 22:58] AlexandreBrown commented on #145
@goswamig @rrrkharse I am using this commit from the aws main branch.

AWS_MANIFESTS_BUILD=038015b47104dcff5b0c596893512e4e75f5a7bd

That's maybe the only difference I could see.

[2022-04-13 04:30] AlexandreBrown commented on #145
/open

[2022-04-13 06:44] goswamig commented on #145
@AlexandreBrown, thanks for providing more details, we will try to reproduce it. Sorry for closing the issue inadvertently.

[2022-04-13 23:47] goswamig commented on #145
Is there a way u can delete and re-deploy the web-app deployment?
I tried today and couldn't reproduce it.

[2022-04-14 02:15] AlexandreBrown commented on #145
I deleted the deployment and re-launch the kubeflow install so it recreates it, still same issue :(
Are you sure it is not related to kubernetes permissions?

[2022-04-15 18:34] goswamig commented on #161
@Harikantipudi  Currently kubeflow OSS community doesn't offer any path of upgrade while keeping the system on (kubeflow and its component should not go down).

Are you referring here upgrade in terms of manifest update?

[2022-04-15 18:38] goswamig commented on #145
do u still have same error in web-deployment pod ?  Can u send the full log from web-deployment again?

 I believe you can see the log of in console using `kubectl  logs ....` but its failing to load in web-app, right?. So I am suspecting that web-app pod is bailing out in your case with missing pod level at least that was the error in previous log which you've posted.

[2022-04-15 19:47] AlexandreBrown commented on #145
@goswamig Yes still the same error from the kfserving model web app.
Here is the logs (last 30 lines of the logs)
[logs.txt](https://github.com/awslabs/kubeflow-manifests/files/8497973/logs.txt)

Exactly, I can see the InferenceService logs when using Kubectl but not via the model web app UI.

[2022-04-15 23:10] goswamig commented on #145
@AlexandreBrown  but previously you mentioned [here](https://github.com/awslabs/kubeflow-manifests/issues/145#issuecomment-1088147684) that you can see the logs in terminal by running command

[code]
Basically this is the log you'll see in web-app.

did anything change since then?

[2022-04-15 23:51] AlexandreBrown commented on #145
@goswamig Nothing has changed, I previously mentioned that I was seeing the logs but the result was like the photos from my last message.
So the logs of the model server is indeed accessible but it only shows what is printed when the model server successfully becomes alive. I had not tried to see the logs after sending requests, I tried today then realized that the logs that I thought were normal

[2022-04-18 19:08] goswamig opened #184 "ML end to end example"
We plan to add a documentation on large scale distributed training (along with tensorboard integration ) and finally model serving.

Many users might want to learn how to get started with large scale distributed training with GPU instances.

It would be worth having an example of training like mask-rcnn or bert on kubeflow with aws service integration.

[2022-04-19 00:34] #82 closed

[2022-04-20 00:15] mbaijal opened #192 "The EFS/FSX auto-scripts should use the filesystem-id instead if filesystem name as parameter"
**Is your feature request related to a problem? Please describe.**
The EFS/FSX auto-scripts should use the filesystem-id instead if filesystem name as parameter

**Describe the solution you'd like**
The EFS/FSX auto-scripts should use the filesystem-id instead if filesystem name as parameter

**Describe alternatives you've considered**
The current scripts take the filesystem name as param and chec

[2022-04-21 20:16] goswamig commented on #44
minio-js-7.0.27 was released few days back https://github.com/minio/minio-js/tree/7.0.27

[2022-04-21 20:21] goswamig opened #198 "Add kubeflow related sdk in notebook container."
**Is your feature request related to a problem? Please describe.**
We will need to include kubeflow-training sdk and few more sdk which might be present for other component like katib or kserve.
We have only included so far pipeline sdk.

**Describe the solution you'd like**
for e.g. `pip install kubeflow-training`
https://github.com/kubeflow/training-operator/tree/master/sdk/python

As a part of

[2022-04-21 20:31] goswamig opened #199 "Spark support in kubeflow"
**Is your feature request related to a problem? Please describe.**
Currently Kubeflow doesnt have support for data analytics or ETL jobs or integration with spark.
Enabling spark support in kubeflow will help customer to perform data analytics or preprocessing of data before training job.

Starting point : https://github.com/GoogleCloudPlatform/spark-on-k8s-operator
https://github.com/sbakiu/kubef

[2022-04-21 23:58] mbaijal opened #200 "FSX Test: Fix Security Group cleanup"
**Describe the bug**
Currently the security group cleanup is commented out since its causes the test to fail since there is no wait on the fsx deletion.
This is because the fsx api does not provided a "DELETED" status to wait on.

**Expected behavior**
A clean fix would be to wait on the describe-fsx-filesystem call to fail and that ensures the filesystem has been deleted.

**Environment**
* Kuber

[2022-04-22 17:57] AlexandreBrown opened #203 "Broken link in notebook doc"
**What is the URL of the document?**
https://github.com/awslabs/kubeflow-manifests/blob/main/docs/component-guides/notebooks.md

**Which section(s) is the issue in?**
![Screenshot_20220422-135511.png](https://user-images.githubusercontent.com/26939775/164769334-5913c47d-61fc-49df-b3f3-9156c0228d25.png)

**What needs fixing and describe the solution you'd like?**
The "here" link is broken

[2022-04-22 18:22] #83 closed

[2022-04-22 18:27] ryansteakley commented on #158
This ticket will be resolved in the next two weeks if you don't have any further comments.

[2022-04-22 18:29] #149 closed

[2022-04-22 18:31] ryansteakley commented on #149
We have this issue in our backlog to investigate any root causes, currently we are not able to reproduce this issue and the user has been to able to successfully setup.

[2022-04-22 18:31] rrrkharse commented on #203
What the link should be: https://github.com/awslabs/kubeflow-manifests/blob/main/docs/component-guides/profiles.md

will be fixed in the incoming docs PR: https://github.com/awslabs/kubeflow-manifests/pull/191/files#diff-e8a2714ae926f39e696c8e9d7c4ac1a7a021fe44d07883134132a282928813e4R130

[2022-04-26 04:21] jianwu-github opened #207 "Install and Config Kubeflow on EKS using Terraform"
**Is your feature request related to a problem? Please describe.**
Three major working areas when installing and configuring Kubeflow on EKS:
-- Create required AWS Resources, such as S3 Buckets, RDS, AWS Secrets, ...
-- Install Kubernetes Components and Services on EKS
-- Configure and integrate AWS Resources with EKS, such as expose Istio Gateway through AWS ALB/NLB, ...

It would be nice that a

[2022-04-26 07:07] goswamig opened #208 "Spot instance support in kubeflow deployment."
Although EKS has support for [spot instance](https://aws.amazon.com/about-aws/whats-new/2020/12/amazon-eks-support-ec2-spot-instances-managed-node-groups/), kubeflow guide doesn't spell it well. We should explicitly call it out and add any guideline or example around it.

[2022-04-26 14:00] surajkota opened #209 "Website side bar links broken"
**What is the URL of the document?**
https://awslabs.github.io/kubeflow-manifests/docs/

**Which section(s) is the issue in?**
Any page on the website that has sidebar as per screenshot below
<img width="208" alt="Screenshot 2022-04-26 at 7 21 11 PM" src="https://user-images.githubusercontent.com/22246703/165315477-e40d4bf0-bec2-4d5e-be43-0fb613b1dbc5.png">

**What needs fixing and describe the so

[2022-04-26 14:02] #203 closed

[2022-04-26 18:07] goswamig commented on #43
we need to test it for all kubeflow component.

[2022-04-28 08:38] surajkota opened #210 "Search results display only from Kubeflow.org website"
**Describe the bug**
search results on https://awslabs.github.io/kubeflow-manifests/ list content from Kubeflow.org website instead of kubeflow on aws website.

**Steps To Reproduce**
search "load balancer"

**Expected behavior**
Search from content on kubeflow on aws website or Github issues

[2022-04-28 22:11] goswamig opened #211 "SNS integration with kubeflow"
**Is your feature request related to a problem? Please describe.**
Add SNS integration with kubeflow pipeline. This can be scoped out with Kubeflow overall as well.

This integration will help to build scalable system to generate event based on different steps of pipeline.

**Describe the solution you'd like**
SNS integration with kubeflow pipeline. Its yet to be be flushed out whether it can go a

[2022-04-29 08:57] narijeong opened #212 "URL is 404"
**What is the URL of the document?**
https://github.com/awslabs/kubeflow-manifests/blob/main/docs/deployment/cognito/README.md#40-building-manifests-and-deploying-kubeflow

**Which section(s) is the issue in?**
Can't open the URL which is a part of instruction of deploying kubeflow with Conginto
from this page: https://github.com/awslabs/kubeflow-manifests/blob/main/docs/deployment/cognito/README-

[2022-04-29 21:25] goswamig commented on #145
so I tried again today and logs we see is follow, this is same you should see in the pod.

[code]

[2022-04-30 03:47] AlexandreBrown commented on #145
@goswamig My logs are different than yours,

Mine stop at the following :
[code]

Then nothing new is logged even after new requests.

So perhaps this might suggest an issue that is deeper than just Kubeflow UI

[2022-05-02 17:14] goswamig commented on #145
yeah so are u able to get the response back ?

[2022-05-02 17:32] akartsky commented on #212
We are working on the .md files in `main` branch

For now please use :
- website: https://awslabs.github.io/kubeflow-manifests/docs/deployment/cognito/guide/
or
- The release branch : https://github.com/awslabs/kubeflow-manifests/tree/release-v1.4.1-aws-b1.0.0/docs/deployment/cognito

[2022-05-02 18:59] AlexandreBrown commented on #145
@goswamig Yes the inference works, we can query the model server and get a response back (HTTP 200) but the logs are not updated. When we run kubectl logs, nothing changes from the logs in my last message, even after thousands of requests.

[2022-05-03 21:38] #212 closed

[2022-05-05 02:34] sam-jg opened #215 "rds-s3 script errors"
**Describe the bug**
The RDS and S3 scripts [here](https://github.com/awslabs/kubeflow-manifests/tree/main/tests/e2e/utils/rds-s3) contain bugs.

**[Setup Script](https://github.com/awslabs/kubeflow-manifests/blob/main/tests/e2e/utils/rds-s3/auto-rds-s3-setup.py)**
Running it with python3 with `PYTHONPATH=.. python3 utils/rds-s3/auto-rds-s3-setup.py…` throws a `No module named 'importlib_metadata

[2022-05-06 03:13] akartsky opened #219 "[Doc] IAM permissions required to run each of the automated scripts"
Please document the  IAM permissions required to run each of the automated scripts

[2022-05-09 17:15] #219 closed

[2022-05-10 03:55] #87 closed

[2022-05-15 12:38] psulowsk opened #225 "Access denied to S3 bucket with s3-bucket-ssl-requests-only bucket policy"
**Describe the bug**
When I add _s3-bucket-ssl-requests-only_ bucket policy to S3 bucket, Kubeflow pods lose accesses to S3 bucket and the Access Denied message is returned.

**Steps To Reproduce**
1. Install Kubeflow with S3 bucket.
2. Create any pipeline that retrieves data from S3 bucket.
3. Add the following S3 bucket policy:
[code]
4. Try to run this pipeline.

**Expected behavior**
Kubeflow

[2022-05-15 13:35] psulowsk opened #226 "Error while installing Load Balancer"
**Describe the bug**
Load balancer cannot be successfully installed. The following messages are returned after running ```while ! kustomize build docs/deployment/add-ons/load-balancer | kubectl apply -f -; do echo "Retrying to apply resources"; sleep 10; done``` command from https://awslabs.github.io/kubeflow-manifests/docs/deployment/add-ons/load-balancer/guide/:

[code]

The above process is rep

[2022-05-15 23:36] ryansteakley commented on #226
Hey @psulowsk thanks for opening an issue, do you mind sharing your eks, kustomize, and kubectl versions you are running?

[2022-05-16 18:00] psulowsk commented on #226
yes, sure:
* eks: 1.19
* kustomize: 3.2.0
* kubectl: 1.22.5

[2022-05-16 20:44] goswamig commented on #226
can u post output of
`kustomize build docs/deployment/add-ons/load-balancer`   without applying?

[2022-05-16 20:51] goswamig commented on #225
@psulowsk  thanks for reporting this. Can you share the details on which kubeflow pods received the access deny error ?

[2022-05-17 13:41] psulowsk commented on #225
Details for the pod that failed:
[code]

Additionally, I paste the logs for the container of the pod that returns this 'Access Denied' message:
[code]

[2022-05-17 23:35] #209 closed

[2022-05-17 23:35] #210 closed

[2022-05-18 00:30] goswamig commented on #225
@psulowsk  Thansk for sending the details, sorry i missed asking this.

How are u enabling the pod to grant permission for S3 access (Read/write) both ?
I can imagine few options, but its not clear from describe output and logs.

1. Adding env variable in pod for AWS ACCESS_KEY and SECRET_ACCESS_KEY. I did not see such env set in pod.
2. You can add S3 policy inside the instance role, in this case

[2022-05-18 00:55] goswamig commented on #226
Thanks for adding the details. It appears that you had a previous deployment which failed for some reason and script was retrying to update the immutable field
[code]

Is it possible to remove the load balancer component and make sure its clean and then re-apply?

[code]

verify that none of the load balancer component exist in `kube-system` namespace. Then re-apply

[code]

[2022-05-18 11:08] psulowsk commented on #225
Hi @goswamig,
currently, I am using the IAM Role which gives EC2 instances full access to all S3 buckets.

And as I mentioned at the beginning - I am able to successfully access S3 buckets when I am not using _s3-bucket-ssl-requests-only_ bucket policy. Access is denied after this policy is applied.

[2022-05-18 14:20] hemvats opened #237 "Modifying capacity after installing Kubeflow"
Request you to please add documentation for steps to modify capacity(EKS node-groups) post installing KubeFlow.

[2022-05-18 18:59] goswamig opened #238 "Add a cluster config sample for user"
**What is the URL of the document?**
[The URL to help identify the document.
](https://awslabs.github.io/kubeflow-manifests/docs/deployment/prerequisites/)

**Which section(s) is the issue in?**
[The sections(s) within the document that have issue in.
](https://awslabs.github.io/kubeflow-manifests/docs/deployment/prerequisites/#create-an-eks-cluster)

**What needs fixing and describe the solution

[2022-05-18 20:44] goswamig commented on #226
@psulowsk sorry for the broken link. we are working on fixing  those documentation.

The guide is linked here  https://awslabs.github.io/kubeflow-manifests/docs/troubleshooting-aws/ This explains your case. Let me know if you need further help.

[2022-05-18 21:21] goswamig commented on #225
To make sure that pod on EC2 instance can access your s3 bucket first before going into kubeflow details.
can you check following ?
1. ssh into EC2 instance (K8s worker node in your case I believe) and see if you can access s3 bucket from there? if yes, can u try running below pod.
2. Can u try running below command and see if you have access

[code]

Ideally I would recommend to use [IRSA](https:

[2022-05-20 15:03] psulowsk commented on #225
Hi @goswamig ,
Thank you for your reply. My comments below:
1. I have successfully connected to my worker node via bastion host (as workers are in a private subnet) and accessed the S3 bucket with the applied bucket policy.

![access](https://user-images.githubusercontent.com/84657703/169556599-3ca77b19-749b-42db-9534-07ecca95fcb6.png)

2. I have successfully run this job. The output is my S3 buck

[2022-05-23 09:44] psulowsk commented on #226
Hi @goswamig,
I was able to successfully install Load Balancer. Looks like I missed one of the subnet tags. Thank you for your help.

[2022-05-23 09:44] #226 closed

[2022-05-24 20:35] rrrkharse commented on #225
@psulowsk @goswamig I think the issue here is with how minio client accesses S3 buckets.

In the below logs the access to bucket is denied when the bucket requires `aws:SecureTransport` to be accessed.
And the minio client is being used to access (and write to) the bucket, since the artifact logs are being uploaded.
[code]

I'll check if there is some minio configuration that can be enabled to use

[2022-05-24 20:54] rrrkharse commented on #225
Looks like we are setting `insecure: true` here which is why the policy is failing:
https://github.com/awslabs/kubeflow-manifests/blob/main/awsconfigs/apps/pipeline/s3/config#L8

Checking why this was set and testing using `insecure: true`.

[2022-05-25 00:37] rrrkharse commented on #225
Merged the fix into https://github.com/awslabs/kubeflow-manifests/tree/release-v1.4.1-aws-b1.0.0

Let us know if this resolve the issue. You may need to redeploy minio for the configuration to be applied.

[2022-05-25 00:48] goswamig commented on #225
@rrrkharse  thanks for finding out. Indeed the doc

https://docs.min.io/docs/minio-client-complete-guide.html

[code]
setting `insecure` flag true will skip the ssl verification.

[2022-05-26 23:11] goswamig opened #246 "Add support for Kale"
**Is your feature request related to a problem? Please describe.**
Customer feedback:  Kale seems to be a very useful feature to quickly spin up pipelines right out of a notebook UI if we want to experiment with multiple iterations of a model. Would be good to integrate that into the AWS distro

**Describe the solution you'd like**
Add Kale as an add on in KF distro

**Describe alternatives you've

[2022-05-26 23:35] msdinesh87 opened #247 "Feast (Feature Store) Support"
**Is your feature request related to a problem? Please describe.**
Feast feature store support is missing and would be good to add to the AWS distro. If we are using Kubeflow as an end-to-end ML platform then having an inbuilt feature store would be a useful option to explore

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Add feast feature store s

[2022-05-30 09:55] psulowsk commented on #225
Looks that it works. Thank you for your help @goswamig and @rrrkharse!

[2022-05-30 09:55] #225 closed

[2022-05-30 10:14] psulowsk opened #250 "Resource mapping not found in selected ApiVersion"
Hello,
During the installation of Kubeflow with S3 according to the available documentation (https://awslabs.github.io/kubeflow-manifests/docs/deployment/rds-s3/guide/), I encountered many errors regarding the installation of the selected resource. The content of all of them was as follows:

[code]

This looks like some kind of apiVersions compatibility issue for selected resources. Probably as a

[2022-05-31 19:12] dewnull opened #251 "namespace label for metrics collector injection"
**Describe the bug**

[code]

**Steps To Reproduce**
I had 1.3 installed. I deleted it and reinstalled 1.4

**Expected behavior**
I was expecting Katib to look for `katib-metricscollector-injection: enabled`
instead of `katib.kubeflow.org/metrics-collector-injection: enabled`

**Environment**
* Kubernetes version 1.20
* Using EKS (yes/no), if so version? Yes
* Kubeflow version 1.4
* AWS build numb

[2022-06-01 00:06] goswamig commented on #250
looking at the error message it seems there are some ordering issue with your installation.

Can you make sure before deployment, everything related to kubeflow is clean? Namespace like auth, kubeflow, kantive-* and istio-system are not there.

Once its clean please re-apply the deployment. I understand its not ideal experience but unfortunately we don't have a way a to do it better. we are workin

[2022-06-01 01:38] surajkota commented on #250
Slightly different but similar pattern for error seen in #158. Recommend trying on a fresh EKS cluster to get a clean state

[2022-06-01 22:54] ryansteakley commented on #251
@dewnull Can you additionally share the failed Katib run logs?

[2022-06-03 17:41] wenjinsitu opened #254 "Cloud watch doesn't work for ca-central-1 region"
**Describe the bug**
ran test for cloudwatch. It doesn't work in ca-central-1 region
AWS KF Manifest  main commit : 0e96ae335e7fa3eac94bdd3a6cda5dbaffa29ddb
KF Manifest commit : 46fc423f9b15865f02ddea535183aaa96c706213

**Steps To Reproduce**
https://github.com/awslabs/kubeflow-manifests/tree/main/tests/e2e

**Expected behavior**
Test passes

**Environment**
* Kubernetes version
* Using EKS (yes/n

[2022-06-04 00:45] dewnull commented on #251
I get this from metrics-logger-and-collector

[code]

the args to themetrics-logger-and-collector:

[code]

so I suspect the issue is with `-format`. Katib [release 0.12](https://github.com/kubeflow/katib/blob/152ec0797c3025d6e4465df0f0654bf3b705fa18/cmd/metricscollector/v1beta1/file-metricscollector/main.go#L107) doesn't have `-format` but [master](https://github.com/kubeflow/katib/blob/91974f1fd

[2022-06-04 17:17] dewnull commented on #251
after I manually change the image for the katib-controller deployment from`kubeflowkatib/katib-controller`  `kubeflowkatib/katib-controller:v0.12.0` it works fine. I am not sure why Kustomize is not setting the correct tag for the Katie controller image.

[2022-06-07 23:54] surajkota commented on #250
The reason we are suspecting this is an underlaying K8s cluster issue is because of the events output in `kube-system` namespace reporting unhealthy nodes and one of the pod event reason says - `0/5 nodes are available`. Also, there are many pods which are failing because of persistent volumes not getting created.

[2022-06-08 00:16] surajkota commented on #237
Hi @hemvats, in the meantime have you tried using the [eksctl scale nodegroup](https://eksctl.io/usage/managing-nodegroups/#scaling-a-single-nodegroup) command for scaling the nodes manually? you can set the desired capacity using `--nodes`

e.g.

`eksctl scale nodegroup --cluster <cluster-name> --region <region> --nodes 7 --nodes-min 6 --nodes-max 15 --name linux-nodes`

To setup autoscaling, you

[2022-06-08 00:21] #158 closed

[2022-06-08 07:47] psulowsk commented on #250
Hello @akartsky and @surajkota,
I created a cluster using exactly the command from this documentation: https://awslabs.github.io/kubeflow-manifests/docs/deployment/prerequisites/, which is:
[code]

This cluster contains 5 m5.xlarge nodes so that should be enough. I don't see the particular difference between this command and the one that akartsky provided but I will try to create it again and will

[2022-06-08 14:03] psulowsk commented on #250
Hello,
I tested it and still the same problem. I created a cluster using both the command provided by @akartsky and the example Cloudformation stack and every time all the nodes seem fine:
![image](https://user-images.githubusercontent.com/84657703/172626852-6692b098-fc15-47a5-8610-08c9283f9bbf.png)

I also checked events for kube-system namespace and found something disturbing there:
[code]
...bu

[2022-06-08 15:44] akartsky commented on #250
hmmm ...

1] Run `git status` and make sure there aren't any configurations remaining from previous failed runs
2] When you run the script, look carefully at the logs for S3 and RDS creation and make sure they are created properly
3] If everything is looking fine then lets try installing the [Vanilla](https://awslabs.github.io/kubeflow-manifests/docs/deployment/vanilla/guide/) version to see if we

[2022-06-09 20:29] surajkota opened #257 "Hardcoded S3 endpoint url in workflow controller configmap"
**Describe the bug**
Although the [S3 endpoint URL is configurable](https://github.com/awslabs/kubeflow-manifests/blob/main/awsconfigs/apps/pipeline/s3/params.env#L2) in S3 deployment option. It is hardcoded in [workflow-controller-configmap](https://github.com/awslabs/kubeflow-manifests/blob/main/awsconfigs/apps/pipeline/s3/config#L7) which causes issue if the global S3 endpoint does not work in

[2022-06-10 08:09] psulowsk commented on #250
Hi,
I cloned the kubeflow-manifests repo again so it was fully fresh. I tried to install Vanilla version and I received the same error starting from the line ```resource mapping not found for name: "queue-proxy" namespace: "knative-serving" from "STDIN": no matches for kind "Image" in version "caching.internal.knative.dev/v1alpha1"```

I was looking for information in google about this error and f

[2022-06-10 16:05] #215 closed

[2022-06-11 20:36] ryansteakley commented on #251
are you able to run the katib jobs properly now?

[2022-06-14 22:19] hashtagdata opened #258 "ERROR 1045 (28000): Access denied for user: pod "mysql-client" deleted pod default/mysql-client terminated"
ERROR 1045 (28000): Access denied for user:
pod "mysql-client" deleted
pod default/mysql-client terminated (Error)
$ kubectl describe deployment mysql -n kubeflow
Error from server (NotFound): deployments.apps "mysql" not found

[2022-06-14 23:13] surajkota commented on #258
@hashtagdata Request you to please use the following link to open an issue and answer the questions asked in the template. This will give us helpful information on the problem you are facing and how we can approach it

https://github.com/awslabs/kubeflow-manifests/issues/new?assignees=&labels=bug&template=bug_report.md&title=

[2022-06-14 23:29] rrrkharse commented on #250
Hi Pawel, just checking that the command you used for vanilla installation is
[code]

In the first few loops there will be failures. I'm assuming that even after running the script for more than 5 loops you are seeing the same failures above?

[2022-06-15 06:38] ohke commented on #91
Hi.

As of June 2022, EKS supports k8s 1.22.
Will the Kubeflow v1.5 manifest support 1.22?

[2022-06-21 20:19] AlexandreBrown opened #267 "[EFS] Fix directory & file ownership for non-root users"
**Is your feature request related to a problem? Please describe.**
As described [on slack ](https://kubeflow.slack.com/archives/CKBA5D0MU/p1655298316763029) and as seen in the current kubeflow aws doc : [https://awslabs.github.io/kubeflow-manifests/docs/deployment/add-ons/storage/efs/guide/#33-note-about-permissions](https://awslabs.github.io/kubeflow-manifests/docs/deployment/add-ons/storage/efs/

[2022-06-22 15:30] zorrofox opened #269 "Kubeflow 1.4.1 on EKS 1.20 install failed"
**Describe the bug**
Some pods report missing mysql-secret error, such as this:

[code]

**Steps To Reproduce**

Flow the [document](https://awslabs.github.io/kubeflow-manifests/docs/deployment/rds-s3/guide/) to install the Kubeflow.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment**
* Kubernetes version 1.20
* Using EKS (yes/no), if so version?

[2022-06-22 22:38] surajkota commented on #269
Hi @zorrofox, thanks for using Kubeflow on AWS. `aws-secrets-sync` deployment is supposed to create the `mysql-secret` and `ml-pipeline-minio-artifact` and I see that the corresponding pod is not in `Running` status. Can you describe the pod to see if there is an error?
get the pod id by using the following command:
`kubectl get pods -n kubeflow | grep "aws-secrets-sync"`

use the pod id to check

[2022-06-23 01:25] zorrofox commented on #269
@surajkota thanks a lot for your help!
The `aws-secrets-sync` pod deployment info:

[code]

And the the containers may have any logs output and I can find that the ` driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers` error.

But I can get the driver:

[code]

[2022-06-23 02:35] zorrofox commented on #269
Hi @surajkota ,

Thanks a lot for your help! I just find a ymal deployment file from the secret provider deployed failed due to network issues.

[2022-06-23 02:35] #269 closed

[2022-06-23 03:53] surajkota commented on #258
Closing this issue since it has been inactive for more than a week. Please reopen with the template linked above incase you need further assistance.

[2022-06-23 03:53] #258 closed

[2022-06-23 17:29] gringParis opened #274 "need of advice regarding eks 1.20 end of like"
Hello
In my company, we are are using  on production kubeflow 1.2 on a eks 1.20 cluster for most of our datascience projects. Apparently the end of like if eks 1.20 is the 01 Sep 2022.  (https://endoflife.date/amazon-eks)
Looking at the kubeflow upgrade guide (https://www.kubeflow.org/docs/distributions/gke/deploy/upgrade/) it seems the upgrades will be easier from version 1.5 on.  quoting the doc

[2022-06-23 20:40] surajkota commented on #91
Hi @ohke, Kubeflow 1.5 does not support K8s-1.22. This feature is under development and you can track it here: https://github.com/kubeflow/kubeflow/issues/6353. We expect K8s-1.22 to be supported in Kubeflow-1.6 and we will also
 support for it as soon as Kubeflow is compatible.

[2022-06-24 01:15] dewnull commented on #251
yes.

[2022-06-24 01:15] #251 closed

[2022-06-26 11:08] ran-haim opened #277 "auto rds setup failure"
Hi,
auto rds setup fails to create rds due to not finding private subnets.
looks like you are looking for a value of "SubnetPrivate" instead of "PrivateSubnet" (maybe changed in aws?)

[2022-06-27 11:01] AlexandreBrown commented on #277
Hello @ran-haim , could you give more details on your setup?

Eksctl version, K8s version, etc was it an existing cluster created from an old eksctl version (older version than the prerequisites) ?

[2022-06-27 20:28] surajkota commented on #250
Hi @kdubovikov, what happens if you install the components one by one? what step does it hang? It will help us identify which component to look at

What are the status of pods for resources which already got created?

@psulowsk can you answer the question in [this comment](https://github.com/awslabs/kubeflow-manifests/issues/250#issuecomment-1155804908)

[2022-06-28 01:59] surajkota commented on #274
https://github.com/awslabs/kubeflow-manifests/releases/tag/v1.5.1-aws-b1.0.0
@gringParis Kubeflow-1.5.1 release is out

[2022-06-29 16:34] surajkota commented on #22
@Harikantipudi this feature is available in 1.4 and 1.5. https://awslabs.github.io/kubeflow-manifests/docs/deployment/rds-s3/guide/#using-only-rds-or-only-s3

[2022-06-29 16:36] surajkota commented on #27
Kubeflow-1.4 and 1.5 have been released
https://github.com/awslabs/kubeflow-manifests/releases/tag/v1.5.1-aws-b1.0.0
https://github.com/awslabs/kubeflow-manifests/releases/tag/v1.4.1-aws-b1.0.0

[2022-06-29 16:37] surajkota commented on #36
Closing this since we have a pipeline specific guide now, we can track individual feature requests in separate issues now
https://awslabs.github.io/kubeflow-manifests/docs/component-guides/pipelines/

[2022-06-29 16:37] #36 closed

[2022-06-29 16:38] surajkota commented on #43
This was related to `AwsIamForServiceAccount` plugin in profiles https://awslabs.github.io/kubeflow-manifests/docs/component-guides/profiles/#profile-plugins. Investigation is complete and feature is released now

[2022-06-29 16:38] #43 closed

[2022-06-29 16:41] surajkota commented on #74
Hi @jianwu-github, configuring secret names is now supported. Please see updated instructions: https://awslabs.github.io/kubeflow-manifests/docs/deployment/rds-s3/guide/

You need to:

- Rename the `parameters.objects.objectName` field in [the RDS Secret provider configuration](https://github.com/awslabs/kubeflow-manifests/blob/main/awsconfigs/common/aws-secrets-manager/rds/secret-provider.yaml) t

[2022-06-29 16:41] #74 closed

[2022-06-29 16:43] #95 closed

[2022-06-29 16:46] surajkota commented on #143
We need to investigate using the https://awslabs.github.io/kubeflow-manifests/docs/component-guides/profiles/#profile-plugins feature for this

https://github.com/kserve/kserve/issues/2113

[2022-06-29 16:48] surajkota commented on #198
We added [training sdk](https://pypi.org/project/kubeflow-training/) but looks like we missed [katib](https://pypi.org/project/kubeflow-katib/). Keeping this issue open

[2022-07-06 04:53] berglh commented on #161
I'm wondering if @Harikantipudi was referring to existing Scheduled Workflows/Kubeflow Pipelines? The thing with blue/green upgrade strategy does seem to indicate a dual deployment.

That being said, it still is a good question. I'd like to know best practices in upgrading. We're "stuck" on Kubeflow 1.2 for a few reasons and now KFServing isn't working because it's deprecated and the gcr.io reposi

[2022-07-07 03:02] AlexandreBrown commented on #117
Hello @mbaijal , I'm getting an error when updating the deployment.

[code]

[code]

[2022-07-07 03:12] AlexandreBrown commented on #117
Ok I found the solution, I had to put the env part under the `-image` section for it to work.
[code]

[2022-07-07 04:55] mbaijal commented on #117
Really? Is this something that changed with the latest release for you ? I'll take a look.

[2022-07-11 14:43] mrkwtz commented on #274
Highjacking this issue for a question.
@surajkota What is the recommended upgrade path? i.e. 1.4 -> 1.5. Tearing everything down and build again or just apply the 1.5 over 1.4?

[2022-07-12 21:01] rrrkharse commented on #274
@mrkwtz you will need to tear everything down to upgrade from 1.4 to 1.5 as there have been some breaking changes between the components in the upstream kubeflow/manifests repository.

[2022-07-14 20:02] #257 closed

[2022-07-18 17:31] jsitu777 opened #297 "rds setup time out error"
**Describe the bug**
-may need to increase the wait time for the "wait_for_rds_db_instance_to_become_available" function in rds-s3 auto setup script.
-run into time out error several times when using he script. After the rds time out occurs, the subsequent cluster secret and pipeline setup (applying secret store csi drivers) will be suspended.
-advise to increase the wait time limit from **900 to

[2022-07-18 17:32] wenjinsitu commented on #297
@rrrkharse @surajkota

[2022-07-18 19:31] surajkota commented on #297
+1 increase timeout for now until we have IaC

[2022-07-18 19:31] surajkota commented on #274
#161

[2022-07-18 21:03] AlexandreBrown commented on #297
I suspect that the time difference might come from different region availability (could be wrong, just a thought).
Maybe giving the user a param to have the ability to override the default timeout would be a good compromise for now.
What do you think @surajkota ? Just a thought anyway.

[2022-07-19 00:26] wenjinsitu commented on #297
A bit more context about region. I was spinning up the rds instance in us-west-2 or ca-central-1, and I'm based in the bay area.

[2022-07-19 20:47] kanwaljitkhurmi opened #298 "Not able to recover crashed training-operator pod"
**Describe the bug**
A clear and concise description of what the bug is.

Not able to run PyTorch component in KFP pipeline. It got stuck in wait condition and when it timed out , it crashed the operator. Not able to recover the operator right now.

[code]

KFP Pipeline with PyTorch Operator Component:
[code]

**Steps To Reproduce**

**Expected behavior**
A clear and concise description of what yo

[2022-07-19 21:00] wenjinsitu commented on #298
@kanwaljitkhurmi
Could you also paste your training job yaml file?

[2022-07-19 21:30] wenjinsitu commented on #298
got it fixed:
"deleted all pending CRDs and deleted the operator and it came back up fine."

[2022-07-19 21:37] surajkota opened #299 "Deterministic Installation and Uninstallation of Kubeflow"
**Is your feature request related to a problem? Please describe.**
#250, #251, #158, https://github.com/kubeflow/manifests/issues/2062, https://github.com/kubeflow/manifests/issues/2096, https://github.com/kubeflow/manifests/issues/2086

**Solutions considered**
https://docs.google.com/document/d/14-ZDDqvqDGrHk2bdZl-JhVIS80z_2jPtxLxWCcfeBKQ/edit#

[2022-07-19 21:55] surajkota commented on #299
#250, #251, #158, https://github.com/kubeflow/manifests/issues/2062, https://github.com/kubeflow/manifests/issues/2096, https://github.com/kubeflow/manifests/issues/2086

[2022-07-20 02:20] AlexandreBrown commented on #299
That's a great initiative @surajkota

I always thought it would be nice to be able to take the succesful idea of AWS SAM deployments and apply it to Kubeflow.
Of course AWS SAM is probably not applicable to Kubeflow deployment, but its idea is interesting IMO.

Just like AWS SAM is a Cloud Formation extension, maybe we could have a new Cloud Formation extension for Kubeflow where we have a syntax

[2022-07-20 04:59] kanwaljitkhurmi commented on #298
deleted all pending CRDs and deleted the operator and it came back up fine.

[2022-07-20 04:59] #298 closed

[2022-07-20 04:59] kanwaljitkhurmi commented on #298
deleted all pending CRDs and deleted the operator and it came back up fine.

[2022-07-21 20:30] psulowsk commented on #250
Hello everyone,
sorry for extremely late response but I was busy for last few weeks.

In my previous runs I removed '''while''' loop from the commmand '''while ! kustomize build docs/deployment/vanilla | kubectl apply -f -; do echo Retrying to apply resources; sleep 10; done'''. I did this because the installation (which was very time consuming) started all over again every time one of the resourc

[2022-07-21 20:31] #250 closed

[2022-07-21 20:40] psulowsk opened #300 "How does Kubeflow use data stored on EFS, S3 and EBS?"
Hello,
I dont't know how to attach "Question" label so I used another one.

I would like to find out a bit more how Kubeflow uses input data stored on different storages - S3, EFS and EBS.

EFS seems quite understandable to me - as it is a file system, different Tfjobs and different containers can use the same data on EFS multiple times.

How does it work if the data is stored on EBS and in S3 buc

[2022-07-25 20:54] wenjinsitu commented on #300
Currently we support deployment option for RDS and S3 (combined or one of these):
https://awslabs.github.io/kubeflow-manifests/docs/deployment/rds-s3/guide/

Also EFS or FSx as add-on:
https://awslabs.github.io/kubeflow-manifests/docs/deployment/add-ons/storage/efs/guide/

[2022-07-28 23:02] #267 closed

[2022-07-29 12:38] rizadiawan opened #305 "Authentication using OIDC"
**What is the URL of the document?**
The URL to help identify the document.
https://awslabs.github.io/kubeflow-manifests/docs/deployment/vanilla/guide/#dex

**Which section(s) is the issue in?**
The sections(s) within the document that have issue in.
Dex

**What needs fixing and describe the solution you'd like?**
A clear and concise description of what the issue is.
Need guides/examples of settin

[2022-08-01 22:24] surajkota commented on #117
Artifact viewer and visualization server deployments in profile namespaces are created by the kubeflow pipelines profile controller. The deployment manifest for each of these deployments is constructed by using this [sync.py](https://github.com/kubeflow/manifests/blob/master/apps/pipeline/upstream/base/installs/multi-user/pipelines-profile-controller/sync.py) script which is uploaded to the `kubef

[2022-08-02 20:08] surajkota commented on #305
Hi @rizadiawan, thanks for creating the issue. For your usecase, there are 2 ways to go about this:
- If you plan to with set up a load balancer, you can directly configure the load balancer to authenticate using [auth-idp-oidc](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#auth-idp-oidc) annotation on Ingress or
- [dex connector for OIDC based iDP]

[2022-08-03 01:38] surajkota commented on #300
Hi @psulowsk, thanks for your question and apologies for late response.

EBS, EFS and FSx for lustre are different types of storage systems(file/block) which can be attached to EC2 instances.

Kubernetes has the concept of [PersistentVolume](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#introduction) which is an abstraction over the storage type and its provisioning. PVs can be m

[2022-08-03 04:10] #124 closed

[2022-08-03 13:40] sagi-shimoni opened #308 "500 Error after Cognito deploy"
Hello,
I followed the guide precisely for installing Kubeflow & Cognito. Everything went smoothly without any errors.
https://awslabs.github.io/kubeflow-manifests/docs/deployment/cognito/guide/

After logging in using Cognito - I'm forwarded to:
https://kubeflow.platform.my-domain.io/oauth2/idpresponse?code=XXXXXXXXXXXXXXXXXXXXXXXX
And then I get 500 Internal Server Error

When I use the port forw

[2022-08-03 14:18] #308 closed

[2022-08-04 18:37] surajkota opened #309 "[TRACKING] AWS Distribution for Kubeflow v1.6"
AWS is testing Kubeflow on EKS as part of distribution testing. https://github.com/kubeflow/manifests/issues/2221

AWS need to verify the following features:
- [x] Vanilla Kubeflow
- [x] Load balancer integration
- [x] Cognito Integration
- [x] RDS integration for pipelines
- [x] RDS integration for Katib
- [x] S3 integration for pipelines
- [x] DLC in Jupyter Notebooks
- [x] EFS
- [x] FSx
- [x] A

[2022-08-04 23:04] #277 closed

[2022-08-08 15:18] kdubovikov opened #317 "Pipeline UI can't display s3 Outputs"
**Describe the bug**
I can't download any of the pipeline step outputs due to my bucket residing in different region than `us-east-1`.

**Steps To Reproduce**

1. Launch any pipeline
2. Go to Run UI
3. Try to download any output
4. Observe the error: `Failed to get object in bucket [bucket] at path [path]: S3Error: The authorization header is malformed; the region 'us-east-1' is wrong; expecting '

[2022-08-08 15:31] kdubovikov commented on #317
Actually, it seems to be an issue with the Kubeflow UI itself. If we look here, https://github.com/kubeflow/pipelines/blob/e8abec24fed4c4f8be6f527207b1cec9811ce3e7/frontend/server/minio-helper.ts#L50, the `region` parameter is not being passed and it is not a part of the artefact API as well. However, MINIO Client API allows you to specify region when creating a client: https://docs.min.io/docs/ja

[2022-08-08 15:53] kdubovikov commented on #317
Just confirmed that this is not a Kubeflow Pipelines issue. Here, we see that API container actually requires the following variable names:

- `AWS_REGION`
- `AWS_SECRET_ACCESS_KEY`
- `AWS_ACCESS_KEY_ID`

If I add them manually by changing the deployment:

[code]

I see that

Everything works as expected. That means that easy fix would amount to the following:

- I see that `AWS_SECRET_ACCESS_KEY`

[2022-08-08 15:58] kdubovikov commented on #317
Created a PR to fix this

[2022-08-10 08:02] edwardzhu opened #322 "Fail to clone the repository on Windows"
**Describe the bug**
When cloning the repository on Windows, it throws the fatal eror.

**Steps To Reproduce**
Run the `git clone https://github.com/awslabs/kubeflow-manifests.git` on Windows.

**Expected behavior**
The repository can be cloned on Windows.

**Screenshots**
[code]

**Additional context**
N/A

[2022-08-10 17:00] kdubovikov commented on #317
I have re-opened https://github.com/kubeflow/pipelines/issues/8111 since this fix does not seem to solve the issue

[2022-08-10 18:16] AlexandreBrown commented on #317
Hey @kdubovikov there is a workaround for viewing S3 artifacts https://github.com/awslabs/kubeflow-manifests/issues/117#issuecomment-1087283762
Proper support is a WIP from what I understood.

[2022-08-10 19:29] kdubovikov commented on #117
@surajkota I have outlined two ways this problem can be solved here: https://github.com/kubeflow/pipelines/issues/8111#issuecomment-1210995658. There is also a way to fix the issue by specifying `MINIO_REGION` in here [pipelines/frontend/server/configs.ts](https://github.com/kubeflow/pipelines/blob/e8abec24fed4c4f8be6f527207b1cec9811ce3e7/frontend/server/configs.ts#L139). I am not 100% sure that t

[2022-08-10 19:29] kdubovikov commented on #317
Thanks @AlexandreBrown. Closing this issue as a duplicate

[2022-08-10 19:29] #317 closed

[2022-08-11 09:19] rizadiawan commented on #305
Hi @surajkota, thanks for reply.

I've followed your guide above with an Auth0 app, and user is correctly presented with Auth0 login screen when opening the dashboard URL. However, upon entering correct credential, instead of logging in the user to the dashboard, the user is redirected back to local Dex login URL, for example: https://kubeflow.kubeflow.rizasaputra.com/dex/auth/local?req=q356x74qwz

[2022-08-12 03:13] rizadiawan commented on #305
Oh, I managed to get it works. Turns out the problem is because I mixed up instructions for doing vanilla deployment, manual LB deployment, and manual Cognito deployment. Later I'll try to open a PR for docs on authenticating with ALB + idP.

Thanks again for the guide :)

[2022-08-12 06:33] surajkota commented on #305
Awesome, this is great! Thanks for the POC

I will resolve the issue for now but feel free to open a new PR later

[2022-08-12 06:33] #305 closed

[2022-08-15 18:55] mbaijal commented on #322
Hi @edwardzhu
I was able to verify your issue on a Windows machine. It looks like our website content needs to be able to support different platforms. Let me take this back to the team and I will update this ticket as soon as I have one.

[2022-08-15 20:42] ryanlee-ml opened #326 "Incorrect Kubeflow build version"
**Describe the bug**
Deployed Kubeflow `release-v1.4.1-aws-b1.0.0` in the EKS, but build version is still `dev_local`

**Steps To Reproduce**
1) Deploy `release-v1.4.1-aws-b1.0.0` in EKS
2) Login into the Kubeflow
3) Check the left bottom in the central dashboard UI

**Expected behavior**
Build version must show the correct version number

**Environment**
* Kubernetes version: 1.21
* Using EKS (ye

[2022-08-19 02:25] mbaijal commented on #326
Hi Ryan, Thanks for opening this issue. We will get back to you as soon as we have an update or ETA on this issue.

--snip from slack for the team's reference--
I did a quick check and you are right even on the latest version, the build version on the dashboard is set to dev_local. This seems to be an upstream issue we have ported over from the main manifests repo - https://github.com/kubeflow/kub

[2022-08-19 19:24] surajkota opened #327 "Missing artifacts data in RDS deployment option"
**Describe the bug**
There have been 2 messages this week on #platform-aws slack about missing data in RDS tables.

  [11:48 AM](https://kubeflow.slack.com/archives/CKBA5D0MU/p1660934905674479)
Hi All,
I installed v1.4.1-aws-b1.0.0 and I see artifacts getting saved on S3 and I can see them from runs input/output, but the Artifact section from main dashboard is blank. I queried the table and its bl

[2022-08-19 19:26] surajkota opened #328 "Missing metrics data in RDS while using KFPv2"
**Describe the bug**
[Vishnu Paspunoor](https://app.slack.com/team/U03L86YGSQH)
  [12:33 AM](https://kubeflow.slack.com/archives/CKBA5D0MU/p1660635199418229)
Hi all,
I'm using kubeflow with rds, s3 and cognito. Any idea how to upload the pipeline metrics into RDS in KFP SDK v2? I could see the metrics in the run_metrics table when I tried v1 but there are no entries while using scalar metrics in v

[2022-08-19 21:19] vishnuisu commented on #328
Here are some additional details

**Steps To Reproduce**

Execute these examples in kubeflow and query the run_metrics table in the mlpipeline database on RDS mysql

**Expected behavior**

Run metrics are expected to be present in the run_metrics table

Environment

Kubernetes version: 1.21
Using EKS (yes/no), if so version? yes 1.21
Kubeflow version: 1.51
AWS build number
AWS service targeted (S3

[2022-08-20 02:49] surajkota commented on #44
PRs open for https://github.com/kserve/kserve/issues/2113
https://github.com/kserve/kserve/pull/2377
https://github.com/kserve/website/issues/177

[2022-08-20 02:57] surajkota commented on #143
@AlexandreBrown WIP on KServe side for IRSA support, see 2113 for linked PRs but looks like it is already supported. You just need to do a small workaround: https://github.com/kserve/kserve/issues/2003#issuecomment-1053530385

So, the way it would work is, you can use the `awsIamServiceAccount` profile plugin to annotate the `default-editor` service account in user namespace with S3 access and use

[2022-08-20 02:58] surajkota commented on #143
I would recommend using IRSA and hence closing this issue. Please let us know if you have any more questions

[2022-08-20 02:58] #143 closed

[2022-08-23 07:23] TranThanh96 opened #332 "Cant access kubeflow dashboard after using "kubectl port-forward svc/istio-ingressgateway -n istio-system --address 0.0.0.0 8085:80""
I tried install kubeflow on aws with s3 storage by following tutorial from https://awslabs.github.io/kubeflow-manifests/docs/deployment/
Everything works well except the last step to access kubeflow dashboard: kubectl port-forward svc/istio-ingressgateway -n istio-system --address 0.0.0.0 8085:80

After using port-fowarding, I cant access http://localhost:8080/
This page gave me 403 error: You don

[2022-08-23 12:30] AlexandreBrown commented on #332
@TranThanh96 Can you make sure your command is the same as the doc https://awslabs.github.io/kubeflow-manifests/docs/deployment/vanilla/guide/#port-forward ?
[code]

[2022-08-23 17:16] ryansteakley commented on #332
Hey @TranThanh96, I responded to you on slack, can you additionally specify which deployment option you ran, was it the rds-s3?

[2022-08-23 18:59] ryansteakley commented on #328
@vishnuisu I will attempt to re-create this behavior and get back to you asap

[2022-08-24 02:23] TranThanh96 commented on #332
ya, I tried both with and without  --address 0.0.0.0
still cant access from browser

[2022-08-24 02:24] TranThanh96 commented on #332
I use s3 only

[2022-08-24 04:09] TranThanh96 commented on #332
after re-installing everything, I can reach the login page now

[2022-08-24 04:55] ryansteakley commented on #332
sounds good, verify you are able to login and run any samples you wish.

[2022-08-24 05:01] TranThanh96 commented on #332
@ryansteakley I cant see any example pipelines in dashboard
![image](https://user-images.githubusercontent.com/26323599/186332540-999331f6-a65d-4cf6-a303-7a1bd770cbad.png)

and I cant create a new notebook server, error: 0/1 nodes are available : 1 too many pods

[2022-08-24 05:24] ryansteakley commented on #332
looks like you have several pods in crashloop backoff. Is your instance the same size or similar to the one described in https://awslabs.github.io/kubeflow-manifests/docs/deployment/prerequisites/ Did you follow the auto-setup python script?

[2022-08-24 05:35] ryansteakley commented on #332
run kubectl describe pod <pod-name> -n <namespace> and similarily kubectl logs <pod-node> -n <namespace> on the pods in failure state. and share anything you find there as well

[2022-08-24 07:32] TranThanh96 commented on #332
@ryansteakley
I follow guide install with s3 only.
I am using 2 node: t3.xlarge
now I have 3 pod that keep CrashLoopBackOff:

![image](https://user-images.githubusercontent.com/26323599/186358245-5d75dd81-6812-4d5c-8eb0-2d933f9d7399.png)

and this is log for each pod
[metadata-grpc-deployment-f8d68f687-pdzcx_describe.txt](https://github.com/awslabs/kubeflow-manifests/files/9413877/metadata-grpc-de

[2022-08-24 08:29] ryansteakley commented on #332
`Warning  Failed     34m (x5 over 34m)      kubelet            Error: secret "mlpipeline-minio-artifact" not found` in ml-pipeline logs. Can you check to see if this secret exists. Run `kubectl get secrets -n kubeflow`

[2022-08-24 08:44] TranThanh96 commented on #332
[secrets_kf_log.txt](https://github.com/awslabs/kubeflow-manifests/files/9414439/secrets_kf_log.txt)
seem like it exist
![image](https://user-images.githubusercontent.com/26323599/186373090-4500b24b-240c-4866-b636-44aa4b3ef52a.png)

[2022-08-24 09:02] ryansteakley commented on #332
Can you verify that you are using v3.2.0 of kustomize? Run `kubectl delete pods -n kubeflow --all` and see if the pods come up normally.

[2022-08-24 09:06] TranThanh96 commented on #332
yes, I am using kustomize v3.2.0
![image](https://user-images.githubusercontent.com/26323599/186378091-a805cefe-053f-4331-9fce-559132958812.png)

Tried kubectl delete pods -n kubeflow --all but the pod metadata-grpc-deployment-f8d68f687-mqs82  keep crashloopbackoff

![image](https://user-images.githubusercontent.com/26323599/186378284-74733df1-15d0-4c31-9d25-b073bb8aceaf.png)

[2022-08-24 09:43] ryansteakley commented on #332
What do you see when you login? Are any other pods still failing?

[2022-08-24 09:48] TranThanh96 commented on #332
everything is good except those 3 pods keep crashloopbackoff
![image](https://user-images.githubusercontent.com/26323599/186387250-a4a2580d-1913-4fdb-a43d-1ed05f57ab14.png)

and I get some errors on Pipelines and Runs, any suggestions please?

![image](https://user-images.githubusercontent.com/26323599/186387496-02205744-8945-4b14-b683-419164ba1905.png)
![image](https://user-images.githubuserconte

[2022-08-24 09:50] ryansteakley commented on #332
Can you verify that the s3-secret you created is following this requirement.  `Configure a Secret (e.g. s3-secret) with your AWS credentials. These need to be long-term credentials from an IAM user and not temporary.`

[2022-08-24 09:53] TranThanh96 commented on #332
yes, I can confirm that

[2022-08-24 09:56] ryansteakley commented on #332
No way, to prove. Can you one more time describe the ml-pipeline pod. I would suggest restarting from a fresh cluster, and follow the cluster pre-req listed above.

[2022-08-24 09:57] TranThanh96 commented on #332
Yes, this is 3rd times I re-install kubeflow on aws eks from a fresh cluster. and this error keep occurring

[2022-08-24 10:00] ryansteakley commented on #332
Sorry you are running into these problems, if you can please share the logs from the latest crashloopbackoff mlpipeline. Which version of AWS kubeflow are you running? I will try to reproduce your issue on my end and see if there is some underlying issue.

[2022-08-24 10:02] TranThanh96 commented on #332
how can I get these log? I can provide it to you.
I am using this version:
KUBEFLOW_RELEASE_VERSION=v1.5.1
AWS_RELEASE_VERSION=v1.5.1-aws-b1.0.1

[2022-08-24 10:04] ryansteakley commented on #332
`kubectl logs <ml-pipeline-pod> -n kubeflow` i see you are running 2 node: t3.xlarge, we reccomend a minimum of 5 nodes and m5.xlarge. Stated here https://awslabs.github.io/kubeflow-manifests/docs/deployment/prerequisites/ if you have time try to re-create following the suggested cluster create command

[2022-08-24 10:13] TranThanh96 commented on #332
![image](https://user-images.githubusercontent.com/26323599/186393025-f5059e01-4a43-4919-9227-cafcf3c545a6.png)
This is log from ml-pipeline

[2022-08-25 10:56] ryansteakley commented on #328
@vishnuisu From what I'm seeing looks like metrics are not supported in v2 https://github.com/kubeflow/pipelines/issues/6132

[2022-08-25 20:43] ryansteakley commented on #327
I've recently tested rds-s3 and didn't run into this, the person who posted this issue is working on re-installing and stated they would give an update.

[2022-08-25 21:09] surajkota commented on #332
@ryansteakley @TranThanh96 I think this is because of a bug related to missing mysql deployment in S3 only deployment option. It was fixed in `main` branch recently but not backported to release branch https://github.com/awslabs/kubeflow-manifests/pull/310

@TranThanh96 Can you comment out this like `- disable-mysql-pv-claim.yaml` in `awsconfigs/apps/pipeline/s3/kustomization.yaml` and run

`kusto

[2022-08-26 00:13] surajkota commented on #82
https://github.com/kubeflow/kubeflow/pull/6627

[2022-08-26 02:22] TranThanh96 commented on #332
yes, I try with rds + s3 deployment. everything works. So the problem is related to  mysql

[2022-08-26 02:29] TranThanh96 opened #336 "failed to create new S3 client: Endpoint: $(kfp-artifact-storage-endpoint) does not follow ip address or domain name standards"
**Describe the bug**
I deployed RDS + s3 option.
Follow the doc to verify s3: https://awslabs.github.io/kubeflow-manifests/docs/deployment/rds-s3/guide/#42-verify-s3

when running the sample pipeline "[Demo] XGBoost - Iterative model training", a bug occurred: failed to create new S3 client: Endpoint: $(kfp-artifact-storage-endpoint) does not follow ip address or domain name standards

all pods ar

[2022-08-26 16:49] ryansteakley commented on #336
@TranThanh96 Did the fix, I sent you on slack work for you? We have fixed this in the latest commit.

[2022-09-01 19:44] surajkota commented on #327
this issue is not present in 1.5
https://kubeflow.slack.com/archives/CKBA5D0MU/p1661960256730239?thread_ts=1660934905.674479&cid=CKBA5D0MU

We should add a test for this to prevent any regression. Will keep this issue open for the test to be added

[2022-09-01 23:40] surajkota commented on #145
Hi Alex, does this issue still exist?

Do you face this issue with 1.5 as well? I have been using 1.5 in past few months, the logs show up on the dashboard

[2022-09-02 00:48] AlexandreBrown commented on #145
Hi @surajkota , the issue remains for us with our current KF 1.4.1 install.

I have not tried inference with KF 1.5, will report back after trying it.

[2022-09-02 10:30] rawc0der commented on #117
Wondering if you've seen the latest MinioJS v7.0.27 with Assume Web Identity Role support https://github.com/minio/minio-js/pull/960 ?
Thanks!

[2022-09-05 14:50] MedhaCS1010 commented on #128
- Kubeflow community use **“kustomize” (configuration management tool)** for deployment of kubeflow.

- Kustomize basically uses an overriding concept i.e. preserving the base file(yaml) setting and configuring the requirement mentioned in the overlays file(yaml)

- Every component have their respective BASE and OVERLAY yaml files
- Example :  Consider "Dex" component  (*refer link : [https://gith

[2022-09-07 01:07] LeoBley commented on #336
@ryansteakley Can I get that fix to or has it been released already?

[2022-09-07 03:25] TranThanh96 commented on #336
@ryansteakley  It works. Thank you

@LeoBley edit file kubeflow-manifests/awsconfigs/apps/pipeline/s3/config

change `endpoint: $(kfp-artifact-storage-endpoint)` to `endpoint: s3.amazonaws.com`
then apply by running install loop again

[2022-09-07 14:05] mehdigolzadeh commented on #322
I have encountered the same problem,
Any update in this regard? It seems it's a naming problem that is not supported on windows machines...

[2022-09-08 00:00] LeoBley commented on #336
Thanks @TranThanh96 .

We are now having an issue where the KFP is unable to write tar.gz artifacts to S3 MinIO bucket which isn't found (NoSuchBucket with status code 404).  I'm wondering if we need to make a similar change:
Edit file `kubeflow-manifests/awsconfigs/apps/pipeline/s3/config`
	- change `bucket: $(kfp-artifact-bucket-name)`
	- to `bucket: [bucketName specified in params.env]`
	- then

[2022-09-08 19:59] MedhaCS1010 commented on #128
@surajkota @goswamig if the above Idea explained in comment by me make some sense, then I would like to work on this enhancement feature .......I did some research as well and found out that some sub-component of kubeflow application have Helm-Chart deployment that would ease our work in pacakaging entire Kubflow Application and getting Helm Based deployment

[2022-09-09 07:21] surajkota commented on #128
Hi @MedhaCS1010, thank you for the investigation and interest in this feature. @jsitu777 is already working on this and has created a PR #329 with Helm charts for Kubeflow 1.6. He is working on a few more changes to it. The charts are generated by a script.

Feel free to review the PR. The script to generate the charts will also be in PR next week.

btw, Which Kubeflow components already have helm

[2022-09-13 17:53] jianwu-github opened #355 "Add a step to config loadBalancerScheme when deploying Load Balancer as Add-on"
**What is the URL of the document?**
https://awslabs.github.io/kubeflow-manifests/docs/deployment/add-ons/load-balancer/guide/

**Which section(s) is the issue in?**
"Config Ingress" section in the "Load Balancer" guide

Right now the "Load Balancer" guide did not mention how to config "alb.ingress.kubernetes.io/scheme". The default value is "internet-facing" as in https://github.com/awslabs/kubef

[2022-09-13 18:32] jianwu-github commented on #207
Is it possible to support installation of Kubeflow with Terraform based on [AWS EKS Blueprints for Terraform](https://github.com/aws-ia/terraform-aws-eks-blueprints)?

[2022-09-14 00:35] surajkota commented on #355
Thanks, we will add this to the docs

[2022-09-17 03:45] surajkota commented on #336
Hi everyone, thanks for reporting this issue. We have fixed this and released a patch version https://github.com/awslabs/kubeflow-manifests/releases/tag/v1.5.1-aws-b1.0.2. Please reopen this issue, if you are still facing it

[2022-09-17 03:45] #336 closed

[2022-09-23 19:26] surajkota opened #436 "Access AWS Services from KServe"
**Is your feature request related to a problem? Please describe.**
Customers want to access AWS services for inference services like pull images for private ECR and download models from S3 bucket.

**Describe the solution you'd like**
Do the above using IRSA

[2022-09-23 19:29] surajkota commented on #436
Thành Trần
  [16 hours ago](https://kubeflow.slack.com/archives/CKBA5D0MU/p1663902765436499?thread_ts=1663659424.980629&cid=CKBA5D0MU)
But I have another question: How can I add permission for my model server to pull image from my private registry ?
I am trying to test transformer: https://github.com/kserve/kserve/tree/release-0.7/docs/samples/v1beta1/transformer/torchserve_image_transformer
I bui

[2022-09-25 00:33] surajkota commented on #332
Thanks for reporting this issue. We have released a patch version (v1.5.1-aws-b1.0.2) to fix this issue

[2022-09-25 00:33] #332 closed

[2022-09-26 21:09] surajkota opened #438 "Ray integration with Kubeflow"
**Is your feature request related to a problem? Please describe.**
Able to run jobs using [Ray](cluster_primary_security_group_id)

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any ot

[2022-09-26 22:57] surajkota opened #439 "Expose Culling Parameters for Notebooks"
**Is your feature request related to a problem? Please describe.**
See description of feature here: https://github.com/kubeflow/kubeflow/blob/master/components/proposals/20220121-jupyter-notebook-idleness.md

Parameters to configure this feature are not exposed in manifests and also not properly documented. looking at [this code](https://github.com/kubeflow/kubeflow/blob/da6efb9c9fcdfe03a2932aacc6

[2022-10-01 00:54] surajkota opened #451 "Enhance test framework to increase test coverage"
**Is your feature request related to a problem? Please describe.**
The current tests are tightly coupled to a kubeflow deployment allowing a feature test e.g. Prometheous/profile irsa etc to run only on one deployment option and many of them being run on vanilla. This results in low test coverage and no clean way to run on multiple deployment options without duplicating some code e.g., #445.

This

[2022-10-03 21:20] surajkota commented on #300
Closing since there has been no activity in 60 days

[2022-10-03 21:20] #300 closed

[2022-10-03 21:21] surajkota commented on #198
All kubeflow related sdks have been added!

[2022-10-03 21:21] #198 closed

[2022-10-07 19:30] pthalasta opened #457 "cert-manager webhooks fails with reason `FailedDiscoveryCheck`"
cert-manager installed with kubeflow fails with the following error

[code]

pods in cert-manager namespace:

[code]

webhook deployment yaml from kubeflow manifest:

[code]
**Expected behavior**
webhook should Pass the discovery check

**Environment**
* Kubernetes version: 1.20
* Using EKS (yes/no), if so version? yes, 1.20
* Kubeflow version 1.5
* AWS build number: This was installed through kub

[2022-10-07 20:43] ryansteakley commented on #457
Did you try installing recently? I see that the age of the pods is 99days old. Are you trying to update from a previous version? I suggest you try to use https://github.com/awslabs/kubeflow-manifests/releases/tag/v1.5.1-aws-b1.0.2 as it contains some bugfixes. I would attempt to delete the manifests then re-apply if this is the case.

[2022-10-07 20:46] pthalasta commented on #457
@ryansteakley no i'm not trying to update it and yes it was installed 99 days ago, i didn't pay much attention to the status of the webhook back then, but i'm assuming that has been the status since then. Any idea if this can be related to the EKS firewall like that of GKE?

[2022-10-07 21:31] ryansteakley commented on #457
Would you consider, installing the latest tag of release of v1.5.1?  I haven't personally encountered this issue before, so am not sure if it would be related to the EKS firewall. @rrrkharse or @surajkota have you run into this before?

[2022-10-07 21:32] pthalasta commented on #457
yes, i'll reinstall it next week but was wondering if there was a fix that would let me fix it than performing a full reinstall.

[2022-10-07 21:42] ryansteakley commented on #457
Do you have any steps I can take to reproduce this error?  How did you originally install the manifests, are you using a private vpc ?

[2022-10-07 21:47] pthalasta commented on #457
it was based on instructions provided here https://github.com/kubeflow/manifests/tree/v1.5-branch#install-individual-components

EKS nodes are in private VPC

[2022-10-07 21:52] surajkota commented on #457
@pthalasta can you also paste the complete spec, status and logs of the webhook pods? I suspect this is an issue with the security group settings in your cluster

Check what ports are allowed from cluster security group to nodegroup security group

[2022-10-07 22:25] pthalasta commented on #457
@surajkota so the error that is see is from the output of k8 apiserver for cert-manager's webhook

[code]

[2022-10-11 17:47] pthalasta commented on #457
@surajkota we have all ports and protocols allowed from the EKS/cluster SG to instance SG. Not sure, if there are any other checks that would allow us to debug further

[2022-10-12 18:08] surajkota commented on #151
Closing this issue. Terraform Blueprints for Kubeflow have been added starting 1.6. Will create new issue if customers want CDK based deployment

[2022-10-12 18:08] #151 closed

[2022-10-13 05:47] surajkota commented on #117
Reopening since we have to test and support the case where users dont use S3 global endpoint.

Artifact server uses [this frontend image](https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/sync.py#L41) for which the Dockerfile is here - https://github.com/kubeflow/pipelines/blob/master/frontend/Dockerfile

Region and endpoint

[2022-10-14 21:13] akartsky opened #484 "Terraform deployment for add-ons"
Provide terraform automations for the deployment add-ons
https://awslabs.github.io/kubeflow-manifests/docs/add-ons/

[2022-10-15 17:32] MedhaCS1010 commented on #128
Yeah sure I am exploring this Helm based idea got deployment for few sub-component as well on my local setup under kubeflow namespace using helm charts.....soon will be adding those charts into my branch

[2022-10-22 00:16] surajkota opened #492 "Managing Profiles/users for Kubeflow"
**Is your feature request related to a problem? Please describe.**
Customers authenticate users to the Kubeflow platform using Cognito or Cognito integrated with their idP(Okta, AD etc.). These users(data scientist, ML engineer) then need to have a profile/namespace in Kubeflow to work on their ML tasks. Customers need ways to manage profiles and collaborators for user profiles in Kubeflow. This i

[2022-10-22 07:17] surajkota opened #493 "Programmatic access to Kubeflow applications"
**Is your feature request related to a problem? Please describe.**
How can a Kubeflow profile user programmatically create and mange resources in Kubeflow (from outside the cluster). e.g. create and track pipeline runs, create inference service, training jobs etc.

Provide guidance and best practices

**Describe the solution you'd like**
Starting Reference: https://aws.amazon.com/blogs/containers/

[2022-10-22 21:09] jianwu-github opened #494 "Add "tags" variable to Terraform Modules under "iaac/terraform/aws-infra" directory to tag created AWS Resources(rds, s3 bucket)"
**Is your feature request related to a problem? Please describe.**
When we create RDS and/or S3 bucket using the Terraform Modules under "iaac/terraform/aws-infra" directory , we want to tag RDS and/or S3 bucket after they are created.

**Describe the solution you'd like**
We can add "tags" variable with default value "{}" to these Terraform Modules (rds, s3), these would allow people to pass in d

[2022-10-26 14:31] kdubovikov opened #496 "Using Kubeflow Notebooks with CSI Secrets Store and PodDefault"
`PodDefault` with CSI Secrets Store volume counts seem not to be working when using Kubeflow Notebooks. The exact same issue is being described here: https://github.com/kubeflow/kubeflow/issues/6539

You get an empty directory when trying to mount a secret volume using a PodDefault like this:

[code]

Reproduced on Kubeflow 1.5.1

[2022-10-27 16:45] surajkota commented on #496
Hi @kdubovikov, thanks for reporting the issue, will take a look at this

[2022-10-28 08:58] digitalemerge opened #497 "Error: timed out waiting for the condition kubeflow_components.secrets_manager"
Hi,

I am working to deploy Kubeflow 1.6 on AWS EKS. I am following the documentation in:

[https://awslabs.github.io/kubeflow-manifests/release-v1.6.1-aws-b1.0.0/docs/deployment/cognito-rds-s3/guide-terraform/](https://awslabs.github.io/kubeflow-manifests/release-v1.6.1-aws-b1.0.0/docs/deployment/cognito-rds-s3/guide-terraform/)

I have fulfilled the pre-requisites:

[Create a Ubuntu environment]

[2022-10-28 20:06] surajkota commented on #494
Good idea, we have been considering it as well

[2022-11-01 14:35] digitalemerge commented on #497
I am able to deploy Kubeflow on AWS without any problem. This is no longer an issue and can be closed.

[2022-11-01 19:06] surajkota commented on #497
Great! As discussed on slack, checking the aws-secrets-sync pod and helm chart status might have helped resolving the issue

[2022-11-01 19:06] #497 closed

[2022-11-01 22:23] surajkota commented on #496
Hi @kdubovikov, I am unable to reproduce this. Here are he steps I followed:

1. Install secrets-store-csi-driver
2. Install secrets-store-csi-driver-provider-aws
3. Create a secret in AWS Secrets Manager named `surajkota-s3-secret`
4. Create a profile named `kubeflow-user-example-com` in Kubeflow
5. Add arn:aws:iam::aws:policy/AmazonSSMReadOnlyAccess and arn:aws:iam::aws:policy/SecretsManagerRead

[2022-11-02 22:04] surajkota commented on #457
@pthalasta any update from your side on this? Were you able to deploy 1.6.1 successfully?

[2022-11-02 22:04] #355 closed

[2022-11-02 22:17] pthalasta commented on #457
@surajkota we are working on integrating the terraform scripts with our infrastructure scripts. Should have more update by end of next week.

[2022-11-02 22:21] pthalasta commented on #457
@surajkota to confirm, does the terraform scripts provided within the repo deploy a new EKS cluster even if we already have a cluster? Can the deployment of EKS and other resources like VPC be made optional by setting any flags within the terraform scripts?

[2022-11-03 11:57] kdubovikov commented on #496
@surajkota, thanks for the quick and detailed response. We have validated that this works on Kubeflow 1.6.1 and EKS 1.23. This can be an issue for Kubeflow 1.5.1 and EKS 1.21 though

[2022-11-03 15:53] surajkota commented on #207
1.6 includes this feature

[2022-11-03 15:53] #207 closed

[2022-11-03 15:54] surajkota commented on #299
Included initial implementation in 1.6

[2022-11-03 15:54] #299 closed

[2022-11-03 15:55] #309 closed

[2022-11-09 21:49] akartsky opened #499 "Terraform build error on Cloud9"
Cloud9 is not picking up correct versions of packages after installing pre-requisites

Error :
If you are facing Terraform error when you run `terraform init && terraform plan`
[code]

Issue :
This error is because you are using wrong version of terraform.
Run `terraform --version` and make sure you are on `1.2.7`

Solution:
Step 1] Install the pre-requisite packages using `make install-tools`
Ste

[2022-11-10 20:46] prli opened #500 "update setup_secrets_provider() to use helm"
**What is the URL of the document?**
https://awslabs.github.io/kubeflow-manifests/docs/deployment/rds-s3/guide/#22-option-2-manual-setup

**Which section(s) is the issue in?**
Option 2: Manual Setup, step 5

**What needs fixing and describe the solution you'd like?**
helm charts for secret-store-csi-driver exists and it should be used instead.
- https://github.com/kubernetes-sigs/secrets-store-csi

[2022-11-11 23:53] prli opened #503 "create IAM user for S3 access should be part of Prerequisites section, instead of Automated Setup section"
**What is the URL of the document?**
https://awslabs.github.io/kubeflow-manifests/docs/deployment/rds-s3/guide

**Which section(s) is the issue in?**
Option 2: Manual Setup, step 4.2 [S3]

**What needs fixing and describe the solution you'd like?**
IAM user need to be manually created, but currently the instructions is under the [automated option, step 2](https://awslabs.github.io/kubeflow-manifes

[2022-11-13 17:46] jianwu-github opened #505 "Please add value "nodeSelector" to Kubeflow Component Local Helm Charts under "charts/[app, common]" directories as we want to deploy Kubeflow Components to CPU Nodes"
**Is your feature request related to a problem? Please describe.**
When deploying Kubeflow 1.6 using Terraform, Kubeflow Component Local Helm Charts under  "charts" directory are used to deploy Kubeflow Components.

We have EKS GPU clusters with cpu node group and multiple gpu node groups (sm, md, lg), we want to deploy Kubeflow components to cpu nodes, and gpu nodes will be dedicated to notebook

[2022-11-16 18:19] harish422 commented on #505
Looking for a similar feature where we would like to be able to dedicate separate node group for kubeflow components and data plane components on an already "existing" EKS cluster with other apps deployed.

[2022-11-17 18:33] surajkota commented on #503
@prli Thanks for catching it. Would you like to open a PR to fix this?

[2022-11-17 18:44] surajkota opened #508 "remove unused minio pod from S3 related deployment"
**Describe the bug**
AWS manifest are configuring MinIO client to directly connect to S3, can minio pod be removed from deployment

**Steps To Reproduce**
Deploy KF with S3 integration

**Environment**
* Kubernetes version
* Using EKS (yes/no), if so version?
* Kubeflow version - 1.6 and below
* AWS build number
* AWS service targeted (S3, RDS, etc.)

[2022-11-18 21:06] surajkota opened #509 "Investigate security group requirement for RDS connectivity when using self managed nodegroup"
**Describe the bug**
Over the last week, we found 2 instances(Kf-1.6 and 1.4 release) where customers using self managed nodegroup are facing issues with RDS connectivity in Kubeflow. Current recommended solution is to add the security group for EKS worker node.

**Steps To Reproduce**
Create an EKS cluster with self managed nodegroup and try RDS integration deployment. The number of security grou

[2022-11-19 07:27] yongkangzhao commented on #497
I'm getting the same issue:
[code]

any hints on what to do?

[2022-11-21 07:46] yongkangzhao commented on #497
rerunning the make deploy and using a new terminal instances somehow went though.

[2022-11-21 19:52] surajkota commented on #497
@yongkangzhao thanks for the update, we will keep an eye for more such issues and try to reproduce it as well

[2022-11-21 23:24] harish422 opened #511 "kubeflow pipeline installation fails . Had to work it around to get through the installation"
**Describe the bug**
After installing the kubeflow pipeline with "kubectl apply -k awsconfigs/apps/pipeline/s3" , getting the following error

error: unable to recognize "awsconfigs/apps/pipeline/s3": no matches for kind "CompositeController" in version "metacontroller.k8s.io/v1alpha1"

**Steps To Reproduce**
1. kubectl apply -k awsconfigs/apps/pipeline/s3
2. After most of the resources are create

[2022-11-22 22:14] #503 closed

[2022-11-23 01:09] surajkota commented on #496
Thanks for validating. Secrets store CSI driver and pod defaults have not changed recently. Feel free to reopen the issue if anyone is facing this issue

[2022-11-23 01:09] #496 closed

[2022-11-28 09:31] BogdanCojocar opened #513 "unable to deploy kubeflow with cognito into an existing hosted zone"
**Describe the bug**
I am trying to setup kubeflow in EKS with cognito using terraform 1.2.7. I am going on the route of supplying a hosted zone, and a subdomain and not using a route53 domain. I am using the variables:

[code]
The subdomain I’ve created according to https://awslabs.github.io/kubeflow-manifests/docs/add-ons/load-balancer/guide/#create-a-subdomain

I am getting the following error

[2022-11-29 10:27] SamJenkins-UL opened #515 "no namespace "nvidia-device-plugin" when attempting to provision GPU nodes"
**Describe the bug**
When modifying local terraform variables to provision GPU nodes, when tf attempts to provision the nvidia-device-plugin, it fails saying that there is no namespace for the plugin. The variables in the terraform code suggest that a namespace should be provisioned, but it's failing.

**Steps To Reproduce**

Modify the variable "node_instance_type_gpu" to a gpu based node,
`terra

[2022-11-29 13:41] jbgerth commented on #515
I ran into the same issue in EKS 1.23 / KF 1.6.1
As a hotfix I added the namespace creation to the make target `deploy-eks-blueprints-k8s-addons` before running terraform.
[code]

[2022-11-29 18:53] ryansteakley commented on #44
tracking https://github.com/kubeflow/pipelines/issues/8502